<% title(_('Securely Send URLs')) %>

<div class='container'
    data-controller="knobs form"
    data-knobs-tab-name-value="url"
    data-knobs-lang-day-value="<%= _('Day') %>"
    data-knobs-lang-days-value="<%= _('Days') %>"
    data-knobs-default-days-value="<%= @push.persisted? ? @push.days_remaining : @push.settings_for_kind.expire_after_days_default %>"
    data-knobs-lang-view-value="<%= _('View') %>"
    data-knobs-lang-views-value="<%= _('Views') %>"
    data-knobs-default-views-value="<%= @push.persisted? ? @push.views_remaining : @push.settings_for_kind.expire_after_views_default %>"
    data-knobs-lang-save-value="<%= _('Save') %>"
    data-knobs-lang-saved-value="<%= _('Saved!') %>"
    data-knobs-default-retrieval-step-value="<%= @push.settings_for_kind.retrieval_step_default %>"
    data-knobs-ga-enabled-value="<%= ENV.key?('GA_ENABLE') %>">
<%= render partial: "shared/topnav" %>

<%= form_for @push, data: { action: 'form#submit' } do |f| %>
    <%= render partial: "pushes/error", locals: {push: @push} %>

    <%= f.hidden_field :kind, value: :url unless action_name == 'edit' %>

    <div class='row mb-4'>
        <div class='col'>
            <div class="card rounded-3">
                <h5 class="card-header"><%= _('URL Redirection') %></h5>
                <div class="card-body">
                    <div class="input-group">
                        <%= f.text_field(:payload, { class: "form-control",
                                                    placeholder: _('Enter the URL to redirect to...'),
                                                    autocomplete: "off",
                                                    spellcheck: "false",
                                                    autofocus: true,
                                                    required: true }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='row g-4'>
        <div class='col-12 col-md-8'>
            <div class="border rounded-3 p-3 p-md-4">
                <div class="fw-medium mb-3"><em class="bi bi-clock me-1"></em><%= _('Expire secret link and delete after:') %></div>
                <div class='row align-items-center mb-2'>
                    <div class='col'>
                        <%= range_field_tag("push_expire_after_days", @push.persisted? ? @push.days_remaining : @push.settings_for_kind.expire_after_days_default,
                                            { :name => "push[expire_after_days]",
                                              :class => "form-range",
                                              :min => action_name == 'edit' ? @push.days_old + 1 : @push.settings_for_kind.expire_after_days_min,
                                              :max => @push.settings_for_kind.expire_after_days_max,
                                              :step => "1",
                                              "data-action" => "change->knobs#updateDaysSlider input->knobs#updateDaysSlider",
                                              "data-knobs-target" => "daysRange"
                                              }) %>
                    </div>
                    <div class='col-auto'>
                        <span class="badge rounded-pill bg-primary" data-knobs-target="daysRangeLabel"><%= @push.persisted? ? @push.days_remaining : @push.settings_for_kind.expire_after_days_default %> <%= _('Days') %></span>
                    </div>
                </div>

                <div class='row align-items-center mb-2'>
                    <div class='col'>
                        <%= range_field_tag("push_expire_after_views", @push.persisted? ? @push.views_remaining : @push.settings_for_kind.expire_after_views_default,
                                           { :name => "push[expire_after_views]",
                                             :class => "form-range",
                                             :min => action_name == 'edit' ? @push.view_count + 1 : @push.settings_for_kind.expire_after_views_min,
                                             :max => @push.settings_for_kind.expire_after_views_max,
                                             :x_default => @push.settings_for_kind.expire_after_views_default,
                                             :step => "1",
                                             "data-action" => "change->knobs#updateViewsSlider input->knobs#updateViewsSlider",
                                             "data-knobs-target" => "viewsRange"
                                             }) %>
                    </div>
                    <div class='col-auto'>
                        <span class="badge rounded-pill bg-primary" data-knobs-target="viewsRangeLabel"><%= @push.persisted? ? @push.views_remaining : @push.settings_for_kind.expire_after_views_default %> <%= _('Views') %></span>
                    </div>
                </div>
                <p class='text-center text-muted small mb-0'><%= _('(whichever comes first)') %></p>

                <hr class="my-3">

                <div class="input-group">
                    <span class="input-group-text"><em class="bi bi-lock me-1"></em><%= _('Passphrase') %></span>
                    <%= f.text_field(:passphrase, { class: "form-control",
                                                    autocomplete: "off",
                                                    placeholder: _('Optional: Require recipients to enter a passphrase to view this push') }) %>
                </div>
            </div>

            <%= render 'shared/additional_options' do %>
                <div class="list-group list-group-flush mx-0">
                    <% if @push.settings_for_kind.enable_retrieval_step %>
                        <label class="list-group-item d-flex gap-2 px-0">
                        <%= check_box_tag "push[retrieval_step]", '1', @push.persisted? ? @push.retrieval_step : @push.settings_for_kind.retrieval_step_default,
                                        checkbox_options_for_push(@push, "retrievalStep", @push.settings_for_kind.retrieval_step_default) %>
                        <span>
                            <%= _('Use a 1-click retrieval step') %>
                            <small class="d-block text-muted"><%= _('Helps to avoid chat systems and URL scanners from eating up redirects.') %></small>
                        </span>
                        </label>
                    <% end %>
                </div>
            <% end %>

            <% unless action_name == 'edit' %>
                <div id='cookie-save' class='text-muted small mt-3'>
                    <a data-action="click->knobs#saveSettings" href="#" class="text-decoration-none"><em class="bi bi-bookmark me-1"></em><%= _('Save') %></a> <%= _('the above settings as the page default.') %>
                </div>
            <% end %>
        </div>
        <div class='col-12 col-md-4'>
            <% if user_signed_in? %>
                <div class='mb-3'>
                    <div class="input-group">
                        <span class="input-group-text"><em class="bi bi-tag me-1"></em><%= Push.human_attribute_name(:name) %></span>
                        <%= f.text_field(:name, { class: "form-control",
                                                placeholder: _('Optional'),
                                                autocomplete: "off" }) %>
                    </div>
                    <div class="form-text"><%= _('A name shown in the dashboard, notifications and emails.') %></div>
                </div>
                <div class='mb-3'>
                    <div class="input-group">
                        <span class="input-group-text"><em class="bi bi-sticky me-1"></em><%= _('Note') %></span>
                        <%= f.text_area(:note, { class: "form-control",
                                                rows: 1,
                                                placeholder: _('Optional'),
                                                autocomplete: "off" }) %>
                    </div>
                    <div class="form-text"><%= _('Encrypted and visible only to you') %></div>
                </div>
            <% end %>
            <div class="border rounded-3 p-3">
                <div class='small text-muted'>
                    <p class="mb-2"><em class="bi bi-link-45deg me-1"></em><%= _('A secret URL will be generated that will redirect to the URL specified.') %></p>
                    <p class="mb-0"><em class="bi bi-shield-check me-1"></em><%= _('Upon expiration, the push URL will be deleted entirely.') %> <%= _('An audit log of activity will be available.') %></p>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <div class="d-grid my-4">
                <% if @push.persisted? %>
                    <button class="btn btn-primary btn-lg" type="submit" data-form-target="pushit" data-disable-with="<%= _('Updating...') %>"><em class="bi bi-check-lg me-2"></em><%= _('Update Push') %></button>
                <% else %>
                    <button class="btn btn-primary btn-lg" type="submit" data-form-target="pushit" data-disable-with="<%= _('Pushing...') %>"><em class="bi bi-send me-2"></em><%= _('Push It!') %></button>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
</div>
