<%= content_for :title, _('Edit Push') %>

<div class="container d-flex justify-content-center align-items-center">
  <h3 class="mt-4 mb-4"><%= _('Editing Push') %> <%= @push.url_token %></h3>
</div>

<% if @text_tab %>
  <%= render "form", push: @push %>
<% elsif @files_tab %>
  <%= render "files_form", push: @push %>
<% elsif @url_tab %>
  <%= render "url_form", push: @push %>
<% elsif @qr_tab %>
  <%= render "qr_form", push: @push %>
<% end %>
