<% title(_('Active Pushes')) %>

<%= render partial: 'shared/dashboard_header' %>

<main>
  <% if @pushes.length.zero? %>
    <p class='text-center mt-3'>
      <% if @filter == "active" %>
        <%= _('You currently have no active pushes.') %>
      <% elsif @filter == "expired" %>
        <%= _('You currently have no expired pushes.') %>
      <% else %>
        <%= _('You currently have no pushes.') %>
      <% end %>
    </p>
    <p class='text-center'>
      <%= link_to new_push_path(tab: "text"), class: 'btn btn-primary' do %>
        <em class="bi bi-stars"></em>
        <%= _('Push a Password Now') %>
      <% end %>
    </p>
  <% else %>
    <div class="text-center my-3">
      <h1 class="display-6">
        <% if @filter == "active" %>
          <%= _('Active Pushes') %>
        <% elsif @filter == "expired" %>
          <%= _('Expired Pushes') %>
        <% else %>
          <%= _('All Pushes') %>
        <% end %>
      </h1>
    </div>
    <table class="table table-striped table-bordered table-sm table-hover caption-top align-middle" aria-label='<%= _('Active Pushes') %>'>
      <thead>
      <tr>
          <th scope="col"><%= t("pushes.form.name_or_id") %></th>
          <th scope="col" class=""><%= t("pushes.form.kind") %></th>
          <th scope="col"><%= _('Created') %></th>
          <th scope="col"><%= _('Note') %></th>
          <th scope="col" class=""><%= t('words.remaining') %></th>
          <th scope="col" class="text-center"><em class='bi-tools'></em></th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <% for push in @pushes do %>
        <tr>
          <% if push.name.present? %>
            <td><%= push.name %></td>
          <% else %>
            <td><%= push.url_token %></td>
          <% end %>
          <td class="">
            <% if push.file? %>
              <%= _('File(s)') %>
            <% elsif push.url? %>
              <%= _('URL') %>
            <% elsif push.qr? %>
              <%= _('QR Code') %>
            <% else %>
              <%= _('Text') %>
            <% end %>
          </td>
          <td><%= I18n.l push.created_at.in_time_zone(Settings.timezone), format: :long %></td>
          <td>
            <% if push.note.blank? %>
              <span class="badge rounded-pill bg-light text-dark"><%= _('None') %></span>
            <% else %>
              <div class="text-nowrap overflow-hidden">
                <%= push.note.truncate(30, omission: '...') %>
              </div>
            <% end %>
          </td>
          <% if push.expired? %>
            <td class=""><span class="badge rounded-pill bg-danger"><%= _('Expired') %></span></td>
          <% else %>
            <td class="text-success"><%= t('pushes.index.views_days_remaining', views: push.views_remaining, days: push.days_remaining) %></td>
          <% end %>
          <td class="text-center">
            <div class="btn-group w-100" role="group" aria-label="<%= _('Push Controls') %>">
              <% unless push.expired? %>
                <%= link_to preview_push_path(push), class: 'btn btn-primary btn-sm', rel: 'nofollow' do %>
                  <%= _('Preview') %>
                <% end %>
              <% end %>
              <%= link_to audit_push_path(push), class: 'btn btn-info btn-sm', rel: 'nofollow' do %>
                <%= _('Audit') %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @pushes, list_classes: %w(pagination justify-content-center) %>
  <% end %>
</main>
