<% title(_('Your Push Has Been Created')) %>

<div class="container h-75">
    <div class="d-flex flex-column justify-content-center align-items-center">

      <h2 class='mt-5'><%= _('Your push has been created.') %></h2>

      <p class='mt-5'><%= _('Use this secret link to share it:') %></p>
      <%= render partial: 'application/secret_url_bar' %>
      <%= @qr_code %>

      <p class="d-inline-flex gap-1 mt-5 mb-2">
        <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <%= _('Print & Share') %>
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card">
          <div class="card-header"><%= _('Generate a Printable Page for End Users') %></div>
          <div class="card-body">
            <%= form_tag(print_preview_push_path(@push), method: :get, target: '_blank') do %>
              <div class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col w-100 mb-2">
                  <label class="visually-hidden" for="inlineFormInputGroupUsername"><%= _('Optional Custom Message') %></label>
                  <div class="input-group">
                    <%= text_field_tag(:message, nil, class: 'form-control mr-2 w-100', placeholder: _("Optional Custom Message"), autocomplete: "on") %>
                  </div>
                </div>
              </div>

              <div class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-12">
                  <div class="form-check">
                    <%= check_box_tag(:show_expiration, true, true, class: 'form-check-input') %>
                    <%= label_tag(:show_expiration, _('Show Expiration Details'), class: 'form-check-label') %>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-check">
                    <%= check_box_tag(:show_id, true, true, class: 'form-check-input') %>
                    <%= label_tag(:show_id, _('Include ID'), class: 'form-check-label') %>
                  </div>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-success"><%= _('Generate') %></button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <p class='my-5 text-center'>
        <%= _("This secret link and all content will be deleted in") %>
        <strong><%= @push.days_remaining %> <%= n_('day', 'days', @push.days_remaining) %></strong>
        <%= _('or') %>
        <strong><%= @push.views_remaining %> <%= n_('view', 'views', @push.views_remaining) %></strong>
        <% if @push.url? %>
          <%= _('(whichever comes first)') %>.
        <% else %>
          <%= _('(whichever comes first)') %>
          <% if @push.deletable_by_viewer %>
            <%= _('and') %> <strong><%= _('can be') %></strong> <%= _('deleted by viewers.') %>
          <% else %>
            <%= _('and') %> <strong><%= _('can NOT be') %></strong> <%= _('deleted by viewers.') %>
          <% end %>
        <% end %>
      </p>

      <% if @push.retrieval_step == true %>
        <p class='mb-5'><%= _('It also includes a') %> <strong><%= _('1-click preliminary retrieval step') %></strong>.  </p>
      <% end %>

      <p class='mb-5'>
        <%= link_to _('View This Push Now'), @secret_url,
          "data-turbo-prefetch": false,
          "data-turbolinks": false,
          "data-turbo": false,
          rel: "no-prefetch" %>
        <%= _('(will burn a view) or') %>
        <% if @push.url? %>
          <%= link_to _('Push Another'), new_push_path(tab: "url") %>
        <% elsif @push.file? %>
          <%= link_to _('Push Another'), new_push_path(tab: "files") %>
        <% else %>
          <%= link_to _('Push Another'), new_push_path(tab: "text") %>
        <% end %>
      </p>

      <% if user_signed_in? %>
        <%= link_to audit_push_path(@push), class: 'btn btn-secondary btn-sm', rel: 'nofollow' do %>
          <em class='bi-card-list'></em> <%= _('View Audit Log') %>
        <% end %>
      <% end %>

      <p class='mt-5 small'> <%= t('pushes.preview.link_lang_tip') %> </p>
      <p class='small'> <%= t('pushes.preview.link_lang_auto') %> </p>
  </div>
</div>
