<% title(_('Your Secret URL')) %>

<div class="container h-75">
    <div class="d-flex flex-column justify-content-center align-items-center  vh-100">

      <h2 class='m-5 text-center'><%= @message %></h2>

      <%= @qr_code %>

      <% if @show_expiration %>
        <p class='my-5 text-center'>
          <%= _('This data contained here will expire after') %>
          <strong><%= @push.expire_after_days %> <%= n_('day', 'days', @push.expire_after_days) %></strong>
          <%= _('or') %>
          <strong><%= @push.expire_after_views %> <%= n_('view', 'views', @push.expire_after_views) %></strong>
          <%= _('(whichever comes first)') %>.
        </p>
      <% end %>

      <% if @show_id %>
        <p class='my-5 fs-6 fw-lighter font-monospace'>
          <%= @push.url_token %>
        </p>
      <% end %>
  </div>
</div>
