<% title('Active Pushes') %>

<%= render partial: 'shared/dashboard_header' %>
<main>
  <% if @active_payloads.empty? %>
    <p class='text-center mt-3'>
      You currently have no active pushes.
    </p>
    <p class='text-center'>
      <%= link_to 'Push Something Now', root_path, class: 'btn btn-primary' %>
    </p>
  <% else %>
    <table class="table table-striped table-sm table-hover caption-top" aria-label='Active Pushes'>
      <caption>Active Pushes</caption>
      <thead>
      <tr>
          <th scope="col">Push ID</th>
          <th scope="col">Created</th>
          <th scope="col">Note</th>
          <th scope="col">Views</th>
          <th scope="col">Days</th>
          <th scope="col"><em class='bi-tools'></em></th>
      </tr>
      </thead>
      <tbody>
      <% for payload in @active_payloads do %>
        <tr>
          <td><%= payload.url_token %></td>
          <td><%= payload.created_at.strftime("%B %d, %Y %H:%M %Z") %></td>
          <td>
            <% if payload.note.empty? %>
              None
            <% else %>
              <%= payload.decrypt(payload.note).truncate(15) %>
            <% end %>
          </td>
          <td><%= "#{payload.views.count}/#{payload.expire_after_views}"%></td>
          <td><%= "#{payload.days_old}/#{payload.expire_after_days}"%></td>
          <td>
            <div class="btn-group" role="group" aria-label="Push Controls">
              <%= link_to preview_password_path(payload), class: 'btn btn-primary btn-sm', rel: 'nofollow', disable_with: 'Processing...' do %>
                Preview
              <% end %>
              <%= link_to audit_password_path(payload), class: 'btn btn-info btn-sm', rel: 'nofollow', disable_with: 'Processing...' do %>
                Audit
              <% end %>
            </div>

          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</main>
