<% title('Expired Pushes') %>

<%= render partial: 'shared/dashboard_header' %>
<main>
  <% if @expired_pushes.empty? %>
    <p class='text-center'>
      You currently have no expired pushes.
    </p>
    <p class='text-center'>
      <%= link_to 'Push Something Now', root_path, class: 'btn btn-primary' %>
    </p>
  <% else %>
    <table class="table table-striped table-sm table-hover caption-top align-middle" aria-label='Expired Pushes'>
      <caption>Expired Pushes</caption>
      <thead>
      <tr>
          <th scope="col">Push ID</th>
          <th scope="col">Expired</th>
          <th scope="col">Note</th>
          <th scope="col">Cause</th>
          <th scope="col"><em class='bi-tools'></em></th>
      </tr>
      </thead>
      <tbody>
      <% for push in @expired_pushes do %>
        <tr>
          <td><%= push.url_token %></td>
          <td><%= push.expired_on.strftime("%B %d, %Y %H:%M %Z") %></td>
          <td>
            <% if push.note.empty? %>
              None
            <% else %>
              <%= push.decrypt(push.note).truncate(100) %>
            <% end %>
          </td>
          <td>
            <% if push.deleted %>
              Manually Deleted
            <% else %>
              Expired
            <% end %>
          </td>
          <td>
            <%= link_to audit_password_path(push), class: 'btn btn-info btn-sm', rel: 'nofollow', disable_with: 'Processing...' do %>
              Audit
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @expired_pushes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
  <% end %>
</main>