<% title(I18n.t('devise.confirmations.resend_title')) %>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <p class='my-3 py-3 lead border-bottom'><%= I18n.t('devise.confirmations.resend_header') %></p>

  <div class="form-floating">
    <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), required: true %>
    <%= f.label I18n.t('devise.general.email'), for: :email %>
  </div>

  <div class="form-floating">
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit"><%= I18n.t('devise.confirmations.resend_button') %></button>
  </div>
<% end %>
