<h1 style="font-weight:400;line-height: 1.25; text-align: center;">
  <%= _('You have received a Push from %{user_email}') % { user_email: @push.user&.email.presence} %>
</h1>

<p>
  <%= _('Please find the secret link below to access the sensitive information.') %>
</p>

<p><%= _('Secret link:') %> <%= @secret_url %></p>

<h4 style="font-weight: bold; margin-top: 40px;"><%= _('Important Notes:') %></h4>
<ul style="padding: 0px; list-style-position: inside">
  <li><%= _('This link is valid for %{remaining} days, or until %{views} views, whichever occurs first.') % { remaining: @push.expire_after_days, views: @push.expire_after_views } %></li>
  <li><%= _('For added security, you may be prompted to enter a passphrase (provided separately) to access the content.') %></li>
  <li><%= _('Once retrieved, the link and content will be deleted upon expiration.') %></li>
</ul>

<p><%= _('This email may contain confidential information intended only for the recipient.') %></p>
<p><%= _('If you received this in error, please delete it and notify us immediately.') %></p>
