
.login_box
  = render :partial => 'shared/messages'
  - if params.has_key?(:message)
    - if params[:message] == 'invalid_credentials'
      %p{ :class => "flash error" }== Invalid credentials provided.  Try again?
    - else
      %p{ :class => "flash error" }= params[:message]
  
  
  %p{ :style => "font-family: 'Didact Gothic', sans-serif; font-size: 1.5em; clear: both;" }
    One-click Sign Up with these services...
    
  %div{ :style => 'auth_providers_area' }
    %p
      = render :partial => 'shared/auth_providers'

  %p{ :style => "font-family: 'Didact Gothic', sans-serif; font-size: 1.5em; clear: both;" }
    or do it old school...
  
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %table.sign_up
      %tr
        %td
          %p
            = f.label :email
            %br/
            = f.text_field :email
        %td
          %p
            = f.label :password
            %br/
            = f.password_field :password
      %tr
        %td.full_row{ :colspan => 2 }
          - if devise_mapping.rememberable?
            = f.check_box :remember_me
            = f.label :remember_me
      %tr
        %td.full_row{ :colspan => 2 }
          %p= submit_tag "Sign Up", :disable_with => "Please wait..."

  %div{ :style => 'clear: both;' }

  %p{ :style => "font-family: 'Didact Gothic', sans-serif; font-size: 90%; clear: both;" }
    = link_to "Forgot your password?", new_user_password_path()
    \|
    = link_to "Already have an account?", new_user_session_path()


