<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center bg-light">
  <main class='devise-form text-center'>
    <a href="/">
      <picture>
        <source srcset="<%= asset_pack_path('media/img/logo-transparent-sm-bare.png') %>" media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)">
        <source srcset="<%= asset_pack_path('media/img/logo-transparent-sm-dark-bare.png') %>" media="(prefers-color-scheme: dark)">
        <img src="<%= asset_pack_path('media/img/logo-transparent-sm-bare.png') %>", alt="Password Pusher Logo", style='height: 120px;' />
      </picture>
    </a>
      
    <h2 class='my-3'>Sign Up</h1>
      
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-floating">
        <input class="form-control" autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email" required>
        <%= f.label :email, for: :user_email %>
      </div>

      <div class="form-floating">
        <input class="form-control" autocomplete="new-password" type="password" name="user[password]" id="user_password" required>
        <%= f.label :password, for: :user_password %>
      </div>

      <div class="form-floating">
        <input class="form-control" autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation" required>
        <%= f.label :password_confirmation, for: :user_password_confirmation %>
      </div>

      <p class="text-muted">Passwords must have minimum 6 characters.</p>

      <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Create Account</button>
    <% end %>
    <div class='my-3 text-center'>
      <%= render "devise/shared/links" %>
    </div>
  </main>
</div>