<% title(_('Active URL Pushes')) %>

<%= render partial: 'shared/dashboard_header' %>

<main>
  <% if @pushes.length.zero? %>
    <p class='text-center mt-3'>
      <%= _('You currently have no active URL pushes.') %>
    </p>
    <p class='text-center'>
      <%= link_to new_url_path, class: 'btn btn-primary' do %>
        <em class="bi bi-stars"></em>
        <%= _('Push a URL Now') %>
      <% end %>
    </p>
  <% else %>
    <div class="text-center my-3">
      <h1 class="display-6"><%= _('Active URL Pushes') %></h1>
    </div>
    <table class="table table-striped table-bordered table-sm table-hover caption-top align-middle" aria-label='<%= _('Active Pushes') %>'>
      <thead>
      <tr>
          <th scope="col"><%= _('Push ID') %></th>
          <th scope="col"><%= _('Created') %></th>
          <th scope="col"><%= _('Note') %></th>
          <th scope="col" class="text-center"><%= _('Views') %></th>
          <th scope="col" class="text-center"><%= _('Days') %></th>
          <th scope="col" class="text-center"><em class='bi-tools'></em></th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <% for push in @pushes do %>
        <tr>
          <td><%= push.url_token %></td>
          <td><%= I18n.l push.created_at.in_time_zone(Settings.timezone), format: :long %></td>
          <td>
            <% if push.note.blank? %>
              <span class='text-muted'><%= _('None') %></span>
            <% else %>
              <div class="text-nowrap overflow-hidden">
                <%= push.note.truncate(30) %>
              </div>
            <% end %>
          </td>
          <td class="text-center"><%= "#{push.views.size}/#{push.expire_after_views}" %></td>
          <td class="text-center"><%= "#{push.days_old}/#{push.expire_after_days}" %></td>
          <td class="text-center">
            <div class="btn-group w-100" role="group" aria-label="<%= _('Push Controls') %>">
              <%= link_to preview_url_path(push), class: 'btn btn-primary btn-sm', rel: 'nofollow' do %>
                <%= _('Preview') %>
              <% end %>
              <%= link_to audit_url_path(push), class: 'btn btn-info btn-sm', rel: 'nofollow' do %>
                <%= _('Audit') %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @pushes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
  <% end %>
</main>
