<% title(_('Securely Send URLs')) %>

<div class='container'
    data-controller="knobs form"
    data-knobs-lang-day-value="<%= _('Day') %>"
    data-knobs-lang-days-value="<%= _('Days') %>"
    data-knobs-default-days-value="<%= Settings.url.expire_after_days_default %>"
    data-knobs-lang-view-value="<%= _('View') %>"
    data-knobs-lang-views-value="<%= _('Views') %>"
    data-knobs-default-views-value="<%= Settings.url.expire_after_views_default %>"
    data-knobs-default-retrieval-step-value="<%= Settings.url.retrieval_step_default %>"
    data-knobs-ga-enabled-value="<%= ENV.key?('GA_ENABLE') %>">
<%= render partial: "shared/topnav" %>

<%= form_for @push, data: { action: 'form#submit' } do |f| %>
    <div class='row'>
        <div class='col-sm-8'>
            <div class='row mb-3'>
                <div class='col'>
                    <div class="card">
                        <h5 class="card-header"><%= _('URL Redirection') %></h5>
                        <div class="card-body">
                            <div class="input-group">
                                <%= f.text_field(:payload, { class: "form-control",
                                                            placeholder: _('Enter the URL to redirect to...'),
                                                            autocomplete: "off",
                                                            spellcheck: "false",
                                                            autofocus: true,
                                                            required: true }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div><%= _('Expire secret link and delete after:') %></div>
                <div class='col-10'>
                    <%= range_field_tag("url_expire_after_days", Settings.url.expire_after_days_default,
                                        { :name => "url[expire_after_days]",
                                          :class => "form-range",
                                          :min => Settings.url.expire_after_days_min,
                                          :max => Settings.url.expire_after_days_max,
                                          :step => "1",
                                          "data-action" => "change->knobs#updateDaysSlider input->knobs#updateDaysSlider",
                                          "data-knobs-target" => "daysRange"
                                          }) %>
                </div>
                <div class='col-2'>
                    <div class="form-text" data-knobs-target="daysRangeLabel"><%= Settings.url.expire_after_days_default %> <%= _('Days') %></div>
                </div>
            </div>

            <div class='row'>
                <div class='col-10'>
                    <%= range_field_tag("url_expire_after_views", Settings.url.expire_after_views_default,
                                       { :name => "url[expire_after_views]",
                                         :class => "form-range",
                                         :min => Settings.url.expire_after_views_min,
                                         :max => Settings.url.expire_after_views_max,
                                         :x_default => Settings.url.expire_after_views_default,
                                         :step => "1",
                                         "data-action" => "change->knobs#updateViewsSlider input->knobs#updateViewsSlider",
                                         "data-knobs-target" => "viewsRange"
                                         }) %>
                </div>

                <div class='col-2'>
                    <div class="form-text" data-knobs-target="viewsRangeLabel"><%= Settings.url.expire_after_views_default %> <%= _('Views') %></div>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <p class='text-center form-text'><%= _('(whichever comes first)') %></p>
                </div>
            </div>

            <div class='row mb-3'>
                <div class='col'>
                    <div class="list-group mx-0">
                        <% if Settings.url.enable_retrieval_step %>
                            <label class="list-group-item d-flex gap-2">
                            <%= check_box_tag "url[retrieval_step]", nil, Settings.url.retrieval_step_default,
                                            { class: 'form-check-input flex-shrink-0',
                                            x_default: Settings.url.retrieval_step_default } %>
                            <span>
                                <%= _('Use a 1-click retrieval step') %>
                                <small class="d-block text-muted"><%= _('Helps to avoid chat systems and URL scanners from eating up redirects.') %></small>
                            </span>
                            </label>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class='row mb-3'>
                <div class='col'>
                    <div class="input-group">
                        <span class="input-group-text"><%= _('Passphrase Lockdown') %></span>
                        <%= f.text_field(:passphrase, { class: "form-control",
                                                        autocomplete: "off",
                                                        placeholder: _('Optional: Require recipients to enter a passphrase to view this push') }) %>
                    </div>
                </div>
            </div>
        </div>
        <div class='col'>
            <div class='row mb-3'>
                <div class="input-group">
                    <span class="input-group-text"><%= _('Reference Note') %></span>
                    <%= f.text_area(:note, { class: "form-control",
                                            rows: 1,
                                            placeholder: _('Optional'),
                                            autocomplete: "off" }) %>
                </div>
                <div class="form-text" id="basic-addon4"><%= _('Encrypted and visible only to you') %></div>
            </div>
            <div class='row my-3 px-5'> <hr> </div>
            <div class='row mb-3'>
                <span class="text-muted">
                    <%= _('A secret URL will be generated that will redirect to the URL specified.') %>
                </span>
            </div>
            <div class='row mb-3'>
                <span class="text-muted">
                    <%= _('Upon expiration, the push URL will be deleted entirely.') %>
                    <%= _('An audit log of activity will be available.') %>
                </span>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <p class='my-3'>
                <button class="form-control btn btn-primary" type="submit" data-form-target="pushit" data-disable-with="Pushing..."><%= _('Push It!') %></button>
            </p>
        </div>
    </div>
<% end %>
</div>
