<div class="list-group-item list-group-item-action list-group-item-success">
    <em class="bi bi-check2-square"></em>
    <%= t('audit_logs.audit_log.log_viewed',
        date: I18n.l(audit_log.created_at.in_time_zone(Settings.timezone)),
        user: audit_log.subject_name
    ) %>
    <br>
    <%= t("audit_logs.audit_log.ip_address") %> <code><%= render 'application/ip_address', ip: audit_log.ip %></code>
    <br>
    <%= t("audit_logs.audit_log.user_agent") %> <code><%= audit_log.user_agent.blank? ? t("audit_logs.audit_log.none") : audit_log.user_agent %></code>
    <br>
    <%= t("audit_logs.audit_log.referrer") %> <code><%= audit_log.referrer.blank? ? t("audit_logs.audit_log.none") : audit_log.referrer %></code>
</div>
