<div class="list-group-item list-group-item-action list-group-item-danger">
    <em class="bi bi-trash"></em>
    <% if audit_log.user_id %>
        <%= _('Push manually expired by user') %>
        <strong><%= audit_log.user.email %></strong>
        <%= _('at IP address') %>
        <%= render partial: 'application/ip_address', locals: { ip: audit_log.ip } %>
    <% end %>
    <br>
    <%= t("pushes.audit.state_help_expired") %>
    <br>
    <%= t("audit_logs.audit_log.user_agent") %> <code><%= audit_log.user_agent.blank? ? t("audit_logs.audit_log.unknown") : audit_log.user_agent %></code>
    <br>
    <%= t("audit_logs.audit_log.referrer") %> <code><%= audit_log.referrer.blank? ? t("audit_logs.audit_log.unknown") : audit_log.referrer %></code>
</div>