%h1
  = current_user.email + ' passwords'

%table{align: 'center'}
  %tr
    %td Link
    %td Days old
    %td Views remaining
    %td Action
  - @passwords.each do |p|
    %tr
      %td
        %a#url{href: 'p/'+p.to_param}
          = root_url+'p/'+p.to_param
      %td
        = p.days_remaining
      %td
        = p.views_remaining
      %td
        %button.btn.btn-copy{ 'data-clipboard-target' => '#url' }
          %p Copy link to Clipboard
        = link_to 'Show Views', show_view_path(p.to_param), class: 'btn btn-info'
        = link_to 'Expire Password', "/p/#{p.to_param}", data: { method: :delete }, class: 'btn btn-danger'
