
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
<div class="position-sticky pt-3">
    <ul class="nav flex-column">
    <li class="nav-item">

        <%= link_to dashboard_overview_path, class: "nav-link #{ 'active fw-bold' if current_page?(dashboard_overview_path)}", :'aria-current' => :page do %>
            <em class='bi-house'></em>
            Overview 
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to dashboard_active_path, class: "nav-link #{ 'active fw-bold' if current_page?(dashboard_active_path)}" do %>
            <em class='bi-bookmark-check'></em>
            Active Pushes 
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to dashboard_expired_path, class: "nav-link #{ 'active fw-bold' if current_page?(dashboard_expired_path)}" do %>
            <em class='bi-x-circle'></em>
            Expired Pushes 
        <% end %>
    </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Account</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
        </a>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <%= link_to edit_user_registration_path, class: "nav-link #{'active fw-bold' if current_page?(edit_user_registration_path)}" do %>
                <em class="bi bi-pencil"></em> Edit Account 
            <% end %>
        </li>
        <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                <em class="bi bi-lock"></em> Log Out
            <% end %>
        </li>
    </ul>
</div>
</nav>