<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-5 mb-0 text-muted">&copy; <%= Time.now.year %> <%= _('Peter') %> Giacomo Lombardo<% if Settings.show_version %>, v<%= Version.current %><% end %></p>

      <%= link_to root_path(locale: locale.to_s), class: "col-md-2 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" do %>
        <picture>
          <% if Settings.brand.nil? || Settings.brand.light_logo.nil? %>
            <source srcset="<%= asset_path('logo-transparent-sm-bare.png') %>" media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)">
            <source srcset="<%= asset_path('logo-transparent-sm-dark-bare.png') %>" media="(prefers-color-scheme: dark)">
            <img src="<%= asset_path('logo-transparent-sm-bare.png') %>" alt="<%= _('Password Pusher Logo') %>" style='height: 40px;'>
          <% else %>
            <source srcset="<%= Settings.brand.light_logo %>" media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)">
            <source srcset="<%= Settings.brand.dark_logo %>" media="(prefers-color-scheme: dark)">
            <img src="<%= Settings.brand.light_logo %>" alt="<%= _('Password Pusher Logo') %>" style='height: 40px;'>
          <% end %>
        </picture>
      <% end %>

      <% if Settings.brand.show_footer_menu %>
        <ul class="nav col-md-5 justify-content-end">
          <li class="nav-item"><%= link_to _('Front Page'), root_path(locale: locale.to_s), class: 'nav-link px-2 text-muted' %></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-2 text-muted" href="#" id="resourcesDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= _('Resources') %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="resourcesDropdownMenuLink">
              <li class="dropdown-item">
                <%= link_to 'https://hub.docker.com/u/pglombardo', class: 'nav-link px-2 text-muted', target: '_blank' do %>
                  <%= _('Docker Containers') %>
                  <em class="bi bi-box-arrow-up-right ms-2"></em>
                <% end %>
              </li>
              <li class="dropdown-item"><%= link_to _('FAQ'), page_path('faq'), class: 'nav-link px-2 text-muted' %></li>
              <li class="dropdown-item"><%= link_to _('JSON API'), apipie_apipie_path, class: 'nav-link px-2 text-muted' %></li>
              <li class="dropdown-item"><%= link_to _('Key Generator'), page_path('generate_key'), class: 'nav-link px-2 text-muted' %></li>
              <li class="dropdown-item">
                <%= link_to 'https://github.com/pglombardo/PasswordPusher', class: 'nav-link px-2 text-muted', target: '_blank' do %>
                  <%= _('Source Code') %>
                  <em class="bi bi-box-arrow-up-right ms-2"></em>
                <% end %>
              </li>
              <li class="dropdown-item"><%= link_to _('Tools'), page_path('tools'), class: 'nav-link px-2 text-muted' %></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-2 text-muted" href="#" id="aboutDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= _('About') %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="aboutDropdownMenuLink">
              <li class="dropdown-item"><%= link_to _('Overview'), page_path('about'), class: 'nav-link px-2 text-muted' %></li>
              <li class="dropdown-item"><%= link_to _('Documentation'), "https://docs.pwpush.com", class: 'nav-link px-2 text-muted' %></li>
              <li class="dropdown-item"><%= link_to _('Send Feedback'), new_feedback_path, class: 'nav-link px-2 text-muted' %></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
    <% if Settings.brand.disclaimer %>
    <div>
      <p class="fw-light fst-italic text-center" style="font-size: .9rem;"><%= Settings.brand.disclaimer %></p>
    </div>
    <% end %>
  </div>
</footer>
