
<span id="lang_copied" style='display: none;'><%= _('Copied!') %></span>
<span id="lang_day" style='display: none;'> <%= _('Day') %></span>
<span id="lang_days" style='display: none;'> <%= _('Days') %></span>
<span id="lang_view" style='display: none;'> <%= _('View') %></span>
<span id="lang_views" style='display: none;'> <%= _('Views') %></span>