<%# Secret link language: toggle + dropdown (shared by secret URL bar and notify-emails field). %>
<% if Settings.language_codes %>
  <% if params.key?(:push_locale) %>
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <em class="me-2 fi fi-<%= Settings.country_codes[params["push_locale"] || I18n.locale] %>"></em>
      <%= Settings.language_codes[params["push_locale"] || I18n.locale] %>
    </button>
  <% else %>
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">🌎</button>
  <% end %>
<% end %>
<ul class="dropdown-menu dropdown-menu-end w-75">
  <li><span class="dropdown-item-text"><%= _('Secret Link Language') %></span></li>
  <li><hr class="dropdown-divider"></li>
  <% if Settings.language_codes %>
    <li class="m-0 p-0">
      <%= link_to url_for, class: "dropdown-item m-0 py-1 px-3 text-muted text-wrap overflow-hidden" do %>
        🌎 <%= _('Autodetect the recipient\'s language') %>
      <% end %>
    </li>
    <li class="p-0">
      <div class="container p-0 m-0">
        <div class="row overflow-y-auto p-0 m-0" style="max-height: 450px;">
          <% I18n.available_locales.each do |lang| %>
            <div class="col-12 col-md-6 col-lg-4 m-0 p-0">
              <%= link_to url_for(push_locale: lang), class: "dropdown-item m-0 py-1 px-3 text-muted text-wrap overflow-hidden" do %>
                <em class="fi fi-<%= Settings.country_codes[lang] %>"></em>
                <%= Settings.language_codes[lang] %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
