<div class='input-group mb-5 w-75' data-controller="copy">
    <input class='form-control' id='secret_url' value='<%= @secret_url %>' spellcheck='false' readonly='true' data-copy-target="payloadDiv">
    <% if Settings.language_codes %>
        <button type="button" class="btn btn-primary">
            <em class="me-2 fi fi-<%= Settings.country_codes[params["push_locale"] || I18n.locale] %>"></em>
            <%= Settings.language_codes[params["push_locale"] || I18n.locale] %>
        </button>
    <% end %>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li><span class="dropdown-item-text"><%= _('Secret Link Language') %></span></li>
        <li><hr class="dropdown-divider"></li>
        <% if Settings.language_codes %>
            <% I18n.available_locales.each do |lang| %>
                <li class=' dropdown-item '>
                    <%= link_to url_for(push_locale: lang), class: "nav-link p-0 m-0 text-muted" do %>
                        <em class="me-2 fi fi-<%= Settings.country_codes[lang] %>"></em>
                        <%= Settings.language_codes[lang] %>
                    <% end %>
                </li>
            <% end %>
        <% end %>
    </ul>
    <button class=' input-group-text btn-success ' data-action="click->copy#miniCopyToClipboard" alt="<%= _('Copy to Clipboard') %>">
        <em class="bi bi-clipboard-check"></em>
    </button>
</div>
