<% title(_('About Password Pusher')) %>
<h4 class='border-bottom my-3 py-3'><%= _('About') %></h4>

<div class="row">
    <div class="col-8">
        <p>
            <%= _('Password Pusher is a tool used for sharing passwords and other sensitive information with other people securely.') %>
        </p>
        <p>
            <%= _('With Password Pusher, you can create a unique, one-time URL that will expire after a certain amount of time or after it has been accessed a certain number of times, ensuring that your information remains private and secure.') %>
            <%= _('It is often used by individuals and organizations to share login credentials or other sensitive data with colleagues, clients, or partners.') %>
        </p>
        <p>
            <%= _('Password Pusher is a simple and convenient solution for securely sharing passwords without the need for email or other less secure communication methods.') %>
        </p>
        <p>
            <%= _('Hosted at') %>
            <%= link_to 'pwpush.com', 'https://pwpush.com' %>
            <%= _('or you can run your own private instance wherever you like.') %>
        </p>

        <p>
            <%= _('The source code is') %>
            <a href="https://github.com/pglombardo/PasswordPusher" target="_blank"><%= _('on Github') %></a>.
            <%= _('It’s opensource and free for anyone to use, review or modify.') %>
        </p>

        <h5 class='border-bottom my-3 py-3'><%= _('The Author') %></h5>

        <p>
            <%= _('My name is Peter Giacomo Lombardo. You can find me on') %>
            <a href="https://www.linkedin.com/in/peterlombardo/" target="_blank">LinkedIn</a>,
            <a href="https://github.com/pglombardo" target="_blank">Github</a>
            <%= _('or') %>
            <a href="https://the0x00.dev" target="_blank">The OxOO</a>.</p>

        <p>
            <%= _('For updates, you can') %>
            <%= link_to _('follow me on Twitter'), 'https://twitter.com/pwpush', target: '_blank' %>
            <%= _('or') %>
            <%= link_to _('on Github'), 'https://github.com/pglombardo', target: '_blank' %>.
        </p>

        <h5 class='border-bottom my-3 py-3'><%= _('Want to Help Out?') %></h5>

        <p>
            <strong>
                <%= _('By far the biggest help is to spread the word') %>:
            </strong>
            <%= _('Share and suggest Password Pusher to colleagues and friends.') %>
        </p>

        <p><%= _('You can also') %>:</p>
        <ol class="list-group list-group-numbered">
          <li class="list-group-item">
            <a href="https://github.com/pglombardo/PasswordPusher" target="_blank"><%= _('Star the Github project') %></a>.
            <%= _("It's gasoline for the algos that trend Password Pusher.") %>
          </li>
          <li class="list-group-item">
            <%= _("Sign up for the") %>
            <a href="https://buttondown.email/pwpush" target="_blank"><%= _('newsletter') %></a>
            <%= _("to get updates on important releases, security issues, tips and more.") %>
          </li>
          <li class="list-group-item">
            <%= _('Follow Password Pusher on') %>
            <a href="https://www.facebook.com/pwpush" target="_blank">Facebook</a>,
            <a href="https://twitter.com/pwpush" target="_blank">Twitter</a>
            <%= _('and') %>
            <a href="https://github.com/pglombardo" target="_blank">Github</a>.
          </li>
          <li class="list-group-item">
            <%= _('Fix an issue, add a feature or write some documentation.') %> <a href="https://github.com/pglombardo/PasswordPusher/issues" target="_blank"><%= _('See the Github project.') %></a>
          </li>
          <li class="list-group-item">
            <%= _('Sign up to Digital Ocean') %>
                <a href="https://m.do.co/c/f4ea6ef24c13" target="_blank"><%= _('with this link') %></a>
            <%= _('to get Password Pusher a hosting credit.') %>
          </li>
        </ol>

        <p class='mt-3'><%= _('Thank you for supporting Password Pusher!') %></p>

        <h5 class='border-bottom my-3 py-3'><%= _('Resources') %></h5>

        <p class='mt-3'>
            <%= _('If you are giving a presentation, authoring a blog post or video about Password Pusher, feel free to contact me for any questions.') %>
        </p>
        <p class='mt-3'>
            <%= _('We have media resources and a full explanation of features available in') %>
            <%= link_to _('Windows Powerpoint'), 'https://pwpush.fra1.cdn.digitaloceanspaces.com/resources/Password%20Pusher%20Media%20Resources.pptx' %>
            <%= _('and') %>
            <%= link_to _('Mac Keynote'), 'https://pwpush.fra1.cdn.digitaloceanspaces.com/resources/Password%20Pusher%20Media%20Resources.key' %>
            <%= _('formats.') %>

        </p>
    </div>
    <div class="col">
        <% if ENV.key?('PWPUSH_COM') %>
            <%= render partial: 'shared/newsletter_sign_up', cached: true %>
        <% end %>
        <div class="card mb-3">
            <h5 class="card-header"><em class="bi bi-stars"></em> <%= _('Birthday') %></h5>
            <div class="card-body">
                <h5 class="card-title"><%= _('More Than 11 Years Old') %></h5>
                <p class="card-text">
                    <%= _('The first git commit to Password Pusher was on') %>
                    <strong>
                    <%= l Date.new(2011, 12, 28), format: :long %>.
                    </strong>
                    <%= _('pwpush.com went live shortly thereafter.') %></p>
            </div>
        </div>
        <div class="card mb-3">
            <%= image_tag 'pwpush_logo.png', class: 'card-img-top', alt: 'Password Pusher Logo' %>
            <div class="card-body">
                <h5 class="card-title"><%= _('The Original Theme') %></h5>
                <p class="card-text"><%= _('The original site design consisted of a dark background with a bold yellow font.') %></p>
            </div>
        </div>
        <p class='text-end'><%= _('Follow for news, changes & updates.') %></p>
        <div class="d-grid gap-2 d-md-block text-end mb-3">
            <a href="https://www.facebook.com/pwpush/" target="_blank"><button class="btn btn-info" type="button"><em class="bi bi-facebook"></em></button></a>
            <a href="https://github.com/pglombardo/PasswordPusher" target="_blank"><button class="btn btn-info" type="button"><em class="bi bi-github"></em></button></a>
            <a href="https://twitter.com/pwpush" target="_blank"><button class="btn btn-info" type="button"><em class="bi bi-twitter"></em></button></a>
            <a href="https://reddit.com/r/pwpush" target="_blank"><button class="btn btn-info" type="button"><em class="bi bi-reddit"></em></button></a>
            <a href="https://buttondown.email/pwpush" target="_blank"><button class="btn btn-info" type="button"><em class="bi bi-newspaper"></em></button></a>
        </div>
    </div>
</div>
