
.about_content
  %div{ :style => 'float: left; font-size: .8em; margin-bottom: 50px;' }
    = link_to '[ Back to front page ]', root_path

%p{ :style => 'clear: both;' }
  %h1 About PasswordPusher

.about_content
  %p
    PasswordPusher is an application to communicate passwords over the web. Links to passwords expire after a certain number of views and/or time has passed. Hosted at
    = succeed '.' do
      = link_to "pwpush.com", "https://pwpush.com"

  %p
    I previously posted this project on
    = link_to "Reddit", "http://www.reddit.com/r/sysadmin/comments/pfda0/do_you_email_out_passwords_i_wrote_this_utility/"
    which provided some great feedback - most of which has been implemented.

  %p
    The source code to this site is
    = succeed "." do
      = link_to "on Github", "https://github.com/pglombardo/PasswordPusher"
    It's opensource and free for anyone to use or modify.  Use it internally at your organization, host it publicly or just use
    = succeed "." do
      = link_to "pwpush.com", "https://pwpush.com"
    It's up to you.

%p{ :style => 'clear: both;' }
  %h1 About Me

.about_content
  %p
    My name is Peter Giacomo Lombardo.  You can find me on
    = link_to "LinkedIn", "http://it.linkedin.com/in/peterlombardo"
    and
    = succeed "." do
      = link_to "Github", "https://github.com/pglombardo"

  %p
    On a normal day, I spend my time building
    = link_to "Instana", "https://www.instana.com/"
    and others days working on tools like PasswordPusher.

  %p
    For updates, you can
    = link_to "follow me on Twitter", "https://twitter.com/pglombardo"
    or
    = succeed "." do
      = link_to "Github", "https://github.com/pglombardo"

  %p


%h1 Password Pusher Tools & Utilities

.about_content
  %ul
    %li
      A
      = link_to "PowerShell script", "https://github.com/kprocyszyn/tools"
      for Password Pusher by
      = link_to "Kamil Procyszyn", "https://twitter.com/kprocyszyn/status/970413009511251968"
    %li
      A
      = link_to "nodeJS CLI wrapper", "https://github.com/lnfnunes/pwpush-cli"
      to easily push passwords to pwpush.com
    %li
      An
      = link_to "Alfred App Workflow", "http://www.packal.org/workflow/passwordpusher"
      to quickly push passwords from your Mac
    %li
      See also
      = succeed "." do
        = link_to 'IRC2HipChat', 'https://pglombardo.github.io/IRC2HipChat/'
      An IRC to Hipchat bridge

%h1 Publicity

.about_content
  %p
    Random articles, comments and tweets about PasswordPusher...
  %ol
    %li
      = link_to "How to share passwords securely", "http://envide.no/hvordan-dele-passord-pa-en-sikker-mate/"
      (in Norwegian)
    %li
      = link_to "How to deploy PasswordPusher to CloudFoundry", "http://blog.cloudfoundry.gr.jp/2015/09/cf100apps-061-passwordpusher.html"
      (in Japanese)
    %li
      PasswordPusher was included in
      = link_to "Issue 23", "https://www.cronweekly.com/issue-23/"
      of
      = link_to "Cron Weekly", "https://www.cronweekly.com/"
    %li
      = succeed ":" do
        = link_to "ThinkTechnica", "http://www.thinktechnica.com/"
      = link_to "PasswordPusher", "http://www.thinktechnica.com/r/679/"

    %li
      = succeed ":" do
        = link_to "TracceWeb", "http://www.tracceweb.com/"
        (Italian)
      = link_to "Invia Password o Messaggi in Modo Sicuro che si Autodistruggono: PasswordPusher", "http://www.tracceweb.com/5398/invia-password-o-messaggi-in-modo-sicuro-che-si-autodistruggono-passwordpusher"

    %li
      Mentions in a bunch of comments and Tweets: on
      = succeed "," do
        = link_to "HackerNews", "https://news.ycombinator.com/item?id=4237420"
      = succeed "," do
        = link_to "QandASystem", "http://www.qandasystem.info/security/best-practice-for-password-distribution/#comment-137020"
      = succeed "," do
        = link_to "WebDesignShock", "https://twitter.com/WebDesignShock/statuses/174198663701200897"
      and
      = link_to "Logicamp", "https://twitter.com/logicamp/statuses/224418623383535617"

%h1 Credits

.about_content
  %p
    Thanks to:

    %ul
      %li
        Everyone on Reddit for all of
        = link_to "the", "http://www.reddit.com/r/sysadmin/comments/pfda0/do_you_email_out_passwords_i_wrote_this_utility/"
        = link_to "great", "http://www.reddit.com/r/web_design/comments/q841p/do_you_email_out_passwords_i_wrote_this_utility/"
        = succeed '.' do
          = link_to "feedback", "http://www.reddit.com/r/sysadmin/comments/tq39p/remember_passwordpusher_pwpushcom_its_now/"

      %li
        Reddit
        = link_to "/r/freedesign", "http://www.reddit.com/r/freedesign"
        artist
        = link_to "JarvisAndPi", "http://www.reddit.com/user/JarvisAndPi"
        for the favicons

      %li
        = link_to "zygat3r", "http://zygat3r.deviantart.com/"
        for the
        = link_to "Dark Wood Pack", "http://zygat3r.deviantart.com/art/Dark-Wood-58266349"
        (page backgrounds).

      %li
        = link_to "Kasper", "https://github.com/kap0w"
        for the
        = succeed "." do
          = link_to "JSON POST fix", "https://github.com/pglombardo/PasswordPusher/pull/3"

%h1 Other Related Projects

.about_content
  %ul
    %li= link_to "Agrippa", "http://getagrippa.com/"
    %li
      A Django spin-off project:
      = link_to "projectgiraffe", "https://github.com/quasarj/projectgiraffe"

    %li
      = link_to "phanaster", "https://github.com/phanaster"
      created a
      = link_to "coupon pushing application", "https://github.com/phanaster/cpsh.me"
      == (#{link_to "cpsh.me", "http://cpsh.me/"}) based off of PasswordPusher

    %li
      = link_to "bemosior", "https://github.com/bemosior"
      put together a PHP port of PasswordPusher:
      = link_to "PHPasswordPusher", "https://github.com/bemosior/PHPasswordPusher"

.about_content
  %div{ :style => 'float: left; font-size: .8em; margin-bottom: 50px;' }
    = link_to '[ Back to front page ]', root_path
