<a href="https://github.com/pglombardo/PasswordPusher"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1;" alt="Fork me on Github" src="<%=asset_path('forkme.png')%>" /></a>

<article>
<h1>About</h1>
<p>
PasswordPusher is an application to communicate passwords over the web. Links to passwords
expire after a certain number of views and/or time has passed. Hosted at
<%= link_to "pwpush.com", "https://pwpush.com" %>.
</p>

<p>
The source code to this site is
<%= link_to "on Github", "https://github.com/pglombardo/PasswordPusher" %>.
It's opensource and free for anyone to use or modify.  

Deploy it to the cloud, internally at your organization or just use
<%= link_to "pwpush.com", "https://pwpush.com" %>.
It's up to you.
</p>

<h2>The Author</h2>
<p>
My name is Peter Giacomo Lombardo.  You can find me on
<%= link_to "LinkedIn", "http://it.linkedin.com/in/peterlombardo" %>,
<%= link_to "Github", "https://github.com/pglombardo"%> or
<%= link_to "The OxOO", "https://the0x00.dev"%>.
</p>

<p>
For updates, you can
<%= link_to "follow me on Twitter", "https://twitter.com/pglombardo" %>
or
<%= link_to "Github", "https://github.com/pglombardo" %>
</p>

<h2>Credits</h2>

PasswordPusher has a great community of contributors.  
<%= link_to "Take a look", 'https://github.com/pglombardo/PasswordPusher#-credits' %>.

</article>
