
.about_content
  %div{ :style => 'float: left; font-size: .8em; margin-bottom: 50px;' }
    = link_to '[ Back to front page ]', root_path

%p{ :style => 'clear: both;' }
  %h1 FAQ

.about_content
  %h2 I don't get it.  What is this for?
  %p
    PasswordPusher exists as a better alternative to emailing passwords.
  %p
    Emailing passwords is inherently insecure.  The greatest risks include:
    %ul
      %li Emailed passwords are usually sent with context to what they go to or can potentially be derived from email username, domain etc...
      %li Email is inherently insecure and can be intercepted at multiple points by malicious entitities.
      %li Emailed passwords live in perpetuity (read: forever) in email archives
      %li Passwords in email can be retrieved and used later on if an email account is stolen, cracked etc..
  %p
    By using PasswordPusher, you bypass all of this.  For each password posted, a unique URL is generated that only you will know.
    Additionally, passwords expire after a predefined set of views are hit or time passed.  Once expired, passwords are unequivocally deleted.

  %hr

  %h2 I don't trust you.  Why should I use PasswordPusher?
  %p
    And rightfully so.  All good security begins with healthy skepticism of all involved components.
  %p
    PasswordPusher exists as a better alternative to emailing passwords.  It avoids having passwords exist in email archives in perpetuity.  It does not exist as a end-all security solution.
  %p
    It's
    = link_to 'opensource', "https://github.com/pglombardo/PasswordPusher"
    and can be
    = link_to 'run internally', "https://github.com/pglombardo/PasswordPusher#deploy-internally"
    in your organization if you prefer.
  %p
    Passwords are completely deleted once they expire.  Additionally, random URL tokens are generated on the fly and passwords are posted without context (what they go to).
  %p
    And for the truly paranoid, there is no way I can reliably prove that the opensource code is the same that runs on
    = link_to 'pwpush.com', 'https://pwpush.com'
    (this is true for all sites in reality).
    The only thing I can provide in this respect is my public reputation:
    = succeed "," do
      = link_to 'Github', 'https://github.com/pglombardo'
    = succeed "," do
      = link_to 'Reddit', 'https://www.reddit.com/user/pglombardo/'
    and
    = succeed "." do
      = link_to 'Twitter', 'https://twitter.com/pglombardo'
    If this is a concern to you, feel free to
    = succeed "," do
      = link_to 'review the code', "https://github.com/pglombardo/PasswordPusher"
    = link_to 'post any questions that you may have', "https://github.com/pglombardo/PasswordPusher/issues"
    and consider
    = link_to 'running it internally', "https://github.com/pglombardo/PasswordPusher#deploy-internally"
    at your organization instead.

  %hr

  %h2 Could you add X feature?

  %p
    I love to hear all feedback.  If you have any ideas or suggestions, please submit them to the
    = succeed "." do
      = link_to 'Github repository', "https://github.com/pglombardo/PasswordPusher/issues"

  %hr

  %h2 How do you make money?

  %p
    I don't.  This is just a pet project I work on in my spare time built for the community.  Monthly costs
    are $29/month for Heroku hosting and any time/effort that I've put in or will put in developing the tool
    is voluntary/donated.

  %p That $29/month is for the SSL endpoint ($20) and Postgresql ($9) addons @ Heroku.

  %p
    I've thought about moving the site to a Digital Ocean droplet but Heroku just makes it so easy.  No configuring
    Apache/nginx, deploy scripts, monitoring services etc...  But in all honesty, that $20/month just for SSL
    is kind of aggrevating.

  %hr

  %h2 Like the site? Want to help out?

  %p
    Tweet or share Password Pusher.
  %a{ :target => "_blank", :href => "http://ctt.ec/dapfb", :alt => "Tweet: PasswordPusher - A better way to share passwords than email #sysadmin #technology #netsec http://ctt.ec/dapfb+" }
    =image_tag 'http://clicktotweet.com/img/tweet-graphic-4.png'

.about_content
  %div{ :style => 'float: left; font-size: .8em; margin-bottom: 50px;' }
    = link_to '[ Back to front page ]', root_path

