<% title(_('FAQ')) %>

<h4 class='mb-3'><%= _('Frequently Asked Questions') %></h4>

<h5 class='border-bottom my-3 py-3'><em class="bi bi-lock"></em> <%= _('Trust and Security') %></h5>

<div class="accordion" id="trust-security">
  <div class="accordion-item">
    <h2 class="accordion-header" id="purpose-question">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#purpose-answer" aria-expanded="false" aria-controls="purpose-answer">
        <%= _('What purpose does Password Pusher serve?') %>
      </button>
    </h2>
    <div id="purpose-answer" class="accordion-collapse collapse" aria-labelledby="purpose-question">
      <div class="accordion-body">
        <p><%= _('Password Pusher exists as a better alternative to emailing passwords.') %></p>

        <p><strong><%= _('Emailing passwords is inherently insecure.') %></strong> <%= _('The greatest risks include') %>:</p>

        <ul>
          <li><%= _('Emailed passwords are usually sent with context to what they go to or can potentially be derived from email username, domain etc…') %></li>
          <li><%= _('Email is inherently insecure and can be intercepted at multiple points by malicious entities.') %></li>
          <li><%= _('Emailed passwords live in perpetuity (read: forever) in email archives.') %></li>
          <li><%= _('Passwords in email can be retrieved and used later on if an email account is stolen, cracked etc..') %></li>
        </ul>

        <p><%= _('The same risks persist when sending passwords via SMS, WhatsApp, Telegram, Chat etc…  The data can and is often perpetual and out of your control.') %></p>

        <p><strong><%= _('By using Password Pusher, you bypass all of this.') %></strong></p>

        <p><%= _('For each password posted to Password Pusher, ') %>
          <strong><%= _('a unique URL is generated that only you will know') %></strong>.
          <%= _('Additionally, ') %>
          <strong>
            <%= _('passwords expire after a predefined set of views are hit or time passed.') %>
          </strong>
          <%= _('Once expired, passwords are unequivocally deleted.') %>
        </p>

        <p><%= _('If that sounds interesting to you, try it out or see the other frequently asked questions below.') %></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="trust-question">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#trust-answer" aria-expanded="false" aria-controls="trust-answer">
        <%= _('Trust is a concern. Why should I use Password Pusher?') %>
      </button>
    </h2>
    <div id="trust-answer" class="accordion-collapse collapse" aria-labelledby="trust-question">
      <div class="accordion-body">
        <p><%= _('And rightfully so. All good security begins with healthy skepticism of all involved components.') %></p>

        <p>
          <%= _('Password Pusher exists as a better alternative to emailing passwords. It avoids having passwords exist in email archives in perpetuity. It does not exist as a end-all security solution.') %>
        </p>

        <p>
          <%= link_to _('Password Pusher is opensource'), "http://www.rubyonrails.org/", target: "_blank" %>
          <%= _('so the source can be publicly reviewed and can alternatively be run internally in your organization.') %>
        </p>

        <p>
          <strong><%= _('Passwords are unequivocally deleted from the database once they expire.') %></strong>
          <%= _('Additionally, random URL tokens are generated on the fly and passwords are posted without context for their use.') %>
        </p>

        <p>
          <em><%= _('A note for those with an interest in extreme security:') %></em>
          <%= _('there is no way I can reliably prove that the opensource code is the same that runs on pwpush.com (this is true for all sites in reality).') %>
          <%= _('The only thing I can provide in this respect is my public reputation on') %>
          <a href="https://github.com/pglombardo" target="_blank">Github</a>,
          <a href="https://www.linkedin.com/in/peterlombardo/" target="_blank">LinkedIn</a>,
          <a href="https://twitter.com/pglombardo" target="_blank">Twitter</a>
          <%= _('and') %>
          <a href="https://the0x00.dev" target="_blank"><%= _('my blog') %></a>.
          <%= _('If this is a concern for you, feel free to review the code, post any questions that you may have and consider running it internally at your organization instead.') %>
        </p>
      </div>
    </div>
  </div>
</div>

<h5 class='border-bottom my-3 py-3'><em class="bi bi-tools"></em> <%= _('Tools, Utilities and Applications') %></h5>

<div class="accordion" id="tools">
  <div class="accordion-item">
    <h2 class="accordion-header" id="access-question">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#access-answer" aria-expanded="false" aria-controls="access-answer">
        <%= _('Are there other ways I can access Password Pusher outside of a browser?') %>
      </button>
    </h2>
    <div id="access-answer" class="accordion-collapse collapse" aria-labelledby="access-question">
      <div class="accordion-body">
        <p>
          <%= _('Absolutely.  Password Pusher has a number of applications and command line utilities (CLI) that interface with pwpush.com or privately run instances.  Push passwords from the CLI, Slack, Alfred App and more.') %>
        </p>
        <p><%= _('See our') %> <a href="/pages/tools"><%= _('Tools and Applications') %></a> <%= _('page for more details.') %></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="automate-question">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#automate-answer" aria-expanded="false" aria-controls="automate-answer">
        <%= _('Can I automate my password distribution?') %>
      </button>
    </h2>
    <div id="automate-answer" class="accordion-collapse collapse" aria-labelledby="automate-question">
      <div class="accordion-body">
        <p><%= _('Yes. Using the previously mentioned tools, many users and organizations integrate Password Pusher into their security policies and processes.') %></p>
        <p><%= _('The') %> <a href="/pages/tools"><%= _('Tools') %></a> <%= _('page outlines the resources available to automate the secure distribution of passwords.') %></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="rate-question">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#rate-answer" aria-expanded="false" aria-controls="rate-answer">
        <%= _('How many requests can I send to Password Pusher?') %>
      </button>
    </h2>
    <div id="rate-answer" class="accordion-collapse collapse" aria-labelledby="rate-question">
      <div class="accordion-body">
        <p><%= _('There are no limits currently and I have no intention of adding any.  To minimally assure site stability, Password Pusher is configured with a rate limiter by default.') %></p>
      </div>
    </div>
  </div>
</div>

<h5 class='border-bottom my-3 py-3'><em class="bi bi-eye-slash"></em> <%= _('Running Your Own Private Instance') %></h5>

<div class="accordion" id="private">
  <div class="accordion-item">
    <h2 class="accordion-header" id="run-internal-question">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#run-internal-answer" aria-expanded="false" aria-controls="run-internal-answer">
        <%= _('Can I run my own version for my organization internally?') %>
      </button>
    </h2>
    <div id="run-internal-answer" class="accordion-collapse collapse" aria-labelledby="run-internal-question">
      <div class="accordion-body">
        <p>
          <%= _('Yes.  We provide') %>
          <a href="https://hub.docker.com/u/pglombardo" target="_blank"><%= _('Docker containers') %></a>
          <%= _('and') %>
          <a href="https://github.com/pglombardo/PasswordPusher#-run-your-own-instance" target="_blank"><%= _('installation instructions') %></a>
          <%= _('for a wide variety of platforms and services.') %>
        </p>
        <p><%= _('tldr;') %> <code>docker run -p 5100:5100 pglombardo/pwpush:release</code></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="run-brand-question">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#run-brand-answer" aria-expanded="false" aria-controls="run-brand-answer">
        <%= _('Can I apply a custom logo or change the design?') %>
      </button>
    </h2>
    <div id="run-brand-answer" class="accordion-collapse collapse" aria-labelledby="run-brand-question">
      <div class="accordion-body">
        <p><%= _('Password Pusher supports re-branding "out of the box" allowing you to add a custom logo, text and even change images in the application.') %></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="licensing-question">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#licensing-answer" aria-expanded="false" aria-controls="licensing-answer">
        <%= _('Are there any licensing restrictions for me, my company or my organization?') %>
      </button>
    </h2>
    <div id="licensing-answer" class="accordion-collapse collapse" aria-labelledby="licensing-question">
      <div class="accordion-body">
        <p>
          <%= _('The source code is released under the GNU General Public License v3.0 and that pretty much defines any and all limitations. There are quite a few rebranded and redesigned clone sites of Password Pusher and I welcome them all.') %>
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="why-private-question">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#why-private-answer" aria-expanded="false" aria-controls="why-private-answer">
        <%= _('Why would I want to run my own private instance of Password Pusher?') %>
      </button>
    </h2>
    <div id="why-private-answer" class="accordion-collapse collapse" aria-labelledby="why-private-question">
      <div class="accordion-body">
        <p>
          <%= _('Some organizations are bound by security policies that prohibit the use of public services for sensitive information such as passwords.  There are even organizations that require all tools to be on private intranets without access to the outside world.') %>
        </p>
        <p>
          <%= _('It\'s for these reasons that we provide the ability (and encourage) users and organizations to run private instances when needed.') %>
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="internal-risk-question">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#internal-risk-answer" aria-expanded="false" aria-controls="internal-risk-answer">
        <%= _('What are the potential security risks of running my own version internally?') %>
      </button>
    </h2>
    <div id="internal-risk-answer" class="accordion-collapse collapse" aria-labelledby="internal-risk-question">
      <div class="accordion-body">
        <p><%= _('Running an private instance of Password Pusher for your company or organization gives you the peace of mind that you know exactly what code is running.  You can configure and run it as you like.') %></p>
        <p><%= _('On the other hand, if your instance gets hacked and the encryption broken, malicious entities now have a targeted dictionary of passwords to brute force accounts in your organization.  Note that this would be limited to pushes which haven\'t yet hit their expiration limits.') %></p>
        <p><%= _('In this respect, the public instance at pwpush.com may be superior in that it contains only passwords without identifying information mixed among users from around the globe.') %></p>
        <p><%= _('The user should carefully weigh the pros and cons and decide which route is best for them.  We happily support both strategies.') %></p>
      </div>
    </div>
  </div>
</div>

<h5 class='border-bottom my-3 py-3'><em class="bi bi-sunglasses"></em> <%= _('Other') %></h5>

<div class="accordion" id="other">
  <div class="accordion-item">
    <h2 class="accordion-header" id="link-scanner-question">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#link-scanner-answer" aria-expanded="false" aria-controls="link-scanner-answer">
        <%= _('The URL I sent link seems to have not worked by the time it was received.  Does this happen occasionally and is there a way to prevent this?') %>
      </button>
    </h2>
    <div id="link-scanner-answer" class="accordion-collapse collapse" aria-labelledby="link-scanner-question">
      <div class="accordion-body">
        <p>
          <%= _('Some systems such as email, firewalls and chat systems often have link scanners that can eat up views.') %>
          <%= _('This is done for security or to simply generate a "preview" for chat systems.') %>
        </p>
        <p>
          <%= _('To prevent this, use the 1-click retrieval step option when pushing passwords.') %>
          <%= _('This requires the users to click through a preliminary page to protect views from such scanners.') %>
        </p>
        <p><img alt="1-click option" src="<%= asset_path("features/one-click-option.png") %>"></p>
        <p>
          <%= _('As an additional preventative measure, if you create an account, an audit log is provided for every push created.') %>
          <%= _('This audit log can reveal by who and when the push was viewed.') %>
        </p>
        <p><img alt="Audit Log Partial" src="<%= asset_path("features/audit-log-partial.png") %>"></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="presentation-question">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#presentation-answer" aria-expanded="false" aria-controls="presentation-answer">
        <%= _('Can I use Password Pusher in my talk/presentation/conference?') %>
      </button>
    </h2>
    <div id="presentation-answer" class="accordion-collapse collapse" aria-labelledby="presentation-question">
      <div class="accordion-body">
        <p><%= _('Absolutely.  If you need any resources such as statistics, graphics or anything else, don\'t hesitate to contact me: pglombardo at pwpush.com.') %></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="new-features-question">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#new-features-answer" aria-expanded="false" aria-controls="new-features-answer">
        <%= _('Could you add a specific feature for my organization?') %>
      </button>
    </h2>
    <div id="new-features-answer" class="accordion-collapse collapse" aria-labelledby="new-features-question">
      <div class="accordion-body">
        <p><%= _('Very likely.  I love to hear all ideas and feedback. If you have any, please submit them to the ') %>
        <a href="https://github.com/pglombardo/PasswordPusher"><%= _('Github repository') %></a> <%= _('and I will respond as soon as possible.') %></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="money-question">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#money-answer" aria-expanded="false" aria-controls="money-answer">
        <%= _('How do you make money?') %>
      </button>
    </h2>
    <div id="money-answer" class="accordion-collapse collapse" aria-labelledby="money-question">
      <div class="accordion-body">
        <p><%= _('This is an opensource project made out of love for technology and a desire to improve the security (and daily lives) of the tech community.') %></p>

        <p>
          <%= _('It doesn\'t make any money but it does incur hosting that are about $50/month for pwpush.com.') %>
          <%= _('These are happily paid out of pocket by myself for more than 10 years.') %>
        </p>

        <p>
          <%= _('If you feel inclined to support Password Pusher, you can sign up to Digital Ocean using the badge below.') %>
          <%= _('Password Pusher will get a hosting credit for the first $25 you spend.') %>
        </p>

        <a href="https://www.digitalocean.com/?refcode=f4ea6ef24c13&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge" target="_blank">
          <img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge">
        </a>

        <p></p>
        <p>
          <%= _('For other ways to support Password Pusher, see also the "Want to help out?" section') %>
          <%= link_to _('on the about page'), page_path('about') %>.
          <%= _('Thank you!') %> ❤️
        </p>
      </div>
    </div>
  </div>
