<article>
<h1>Related Tools & Utilities</h2>
<ul>
  <li>
      The PasswordPusher
      <%= link_to "JSON API", "https://github.com/pglombardo/PasswordPusher/wiki/Password-API" %>
  </li>
  <li>
      An
      <%= link_to "Alfred App Workflow", "http://www.packal.org/workflow/passwordpusher" %>
      to quickly push passwords from your Mac
  </li>
  <li>
      <%= link_to "PwPoSh", "https://github.com/pgarm/pwposh" %>
      - Password-related scriptlets module to help with account provisioning or password resets
  </li>
  <li>
      <%= link_to "Example in SWIFT", "https://github.com/pglombardo/PasswordPusher/issues/94#issuecomment-427871524" %>
      to utilize the JSON API.
  </li>
  <li>
      A
      <%= link_to "PowerShell script", "https://github.com/kprocyszyn/tools" %>
      for Password Pusher by
      <%= link_to "Kamil Procyszyn", "https://twitter.com/kprocyszyn/status/970413009511251968" %>
  </li>
  <li>
      A
      <%= link_to "nodeJS CLI wrapper", "https://github.com/lnfnunes/pwpush-cli" %>
      to easily push passwords to pwpush.com
  </li>

</ul>
</article>

