<% title(_('Tools & Applications')) %>

<h4 class='border-bottom mb-5 py-3'><em class="bi bi-tools"></em> <%= _('Tools & Applications') %></h4>

<p><%= _('Using the JSON API, various tools exist to interface with Password Pusher to automate password distribution.') %></p>

<p><%= _('We have no limits on how many passwords you can push (and have no intentions of adding limits) but we do have a rate limiter so the site doesn’t get taken down by bad scripts or bad actors.  Limit your tools to maximum 1 password every few seconds and you should be fine.') %></p>

<div class="row">
  <div class="col">
    <h5 class='border-bottom mb-5 py-3'><em class="bi bi-keyboard"></em> <%= _('Command Line Utilities') %></h5>

    <div class="list-group">
      <a href="https://www.powershellgallery.com/packages/KpPwpush" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em class="bi bi-gift"></em> KpPwpush</h5>
          <small class="text-muted">By thekamilpro</small>
        </div>
        <p class="mb-1">A PowerShell module for the JSON API with authentication.</p>
        <small class="text-muted">PowerShell Script</small>
      </a>
      <a href="https://www.npmjs.com/package/pwpush-cli" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em class="bi bi-gift"></em> pwpush-cli</h5>
          <small class="text-muted">By lnfnunes</small>
        </div>
        <p class="mb-1">A nodeJS CLI wrapper to easily push passwords to pwpush.com.</p>
        <small class="text-muted">NPM Package</small>
      </a>
      <a href="https://github.com/pgarm/pwposh" class="list-group-item list-group-item-action" aria-current="true" target="_blank">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em class="bi bi-github"></em> pgarm/pwposh</h5>
          <small class="text-muted">By pgarm</small>
        </div>
        <p class="mb-1">Password-related scriptlets module to help with account provisioning or password resets.</p>
        <small class="text-muted">PowerShell Script</small>
        </a>
      <a href="https://github.com/abkierstein/pwpush" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em class="bi bi-github"></em> abkierstein/pwpush</h5>
          <small class="text-muted">By abkierstein</small>
        </div>
        <p class="mb-1">Command line Python password pusher via pwpush.com</p>
        <small class="text-muted">Python Script</small>
      </a>
    </div>
  </div>
  <div class="col">
    <h5 class='border-bottom mb-5 py-3'><em class="bi bi-phone"></em> <%= _('Applications') %></h5>

    <div class="list-group">
      <a href="https://play.google.com/store/apps/details?id=com.chesire.pushie" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em class="bi bi-phone"></em> Pushie</h5>
          <small class="text-muted">By Chesire</small>
        </div>
        <p class="mb-1">Securely store a password that can be shared out with a simple web link.</p>
        <small class="text-muted">Android Application</small>
      </a>
      <a href="http://www.packal.org/workflow/passwordpusher" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><em class="bi bi-award"></em>Alfred Workflow</h5>
          <small class="text-muted">By pglombardo</small>
        </div>
        <p class="mb-1">Easily and quickly push passwords to Password Pusher</p>
        <small class="text-muted">Productivity App for macOS</small>
      </a>
    </div>
  </div>
</div>

<h5 class='border-bottom my-3 py-3'><em class="bi bi-gear-wide-connected"></em> JSON API</h5>

<p><%= _('This API allows you to interface with Password Pusher via JSON.  This can be utilized by existing utilities such as curl, wget or any programming language.  See the examples below for some ideas.') %></p>

<ul>
  <li><a href="/api"><%= _('API Endpoint Documentation') %></a></li>
  <li><a href="https://docs.pwpush.com/docs/json-api/#example"><%= _('Walkthrough & Examples') %></a></li>
</ul>

<h5 class='border-bottom my-3 py-3'><em class="bi bi-speedometer"></em> <%= _('Examples') %></h5>

<h6 class='border-bottom my-3 py-3'>Curl</h6>

<pre class="border p-3"><code>curl -X POST --data "password[payload]=mypassword&amp;password[expire_after_days]=2&amp;password[expire_after_views]=10" https://pwpush.com/p.json
</code></pre>

<h6 class='border-bottom my-3 py-3'>Browser Dev Console</h6>

<p><%= _('You can test this in your browser Javascript console by going to the front page of Password Pusher and enter:') %></p>

<pre class="border p-3">
  <code>fetch(
  "https://pwpush.com/p.json", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({
      password: {
        payload: "mypassword",
        expire_after_days: 2,
        expire_after_views: 10
      }
    })
  })
  .then(response => response.json())
  .then(data => { console.log("Share this secret URL: https://pwpush.com/p/" + data.url_token); });
  </code>
</pre>

<p><%= _('See more explanation and examples in our') %> <a href="https://docs.pwpush.com/docs/json-api/">API Documentation</a>.</p>
