<% title(_('Help Translate Password Pusher!')) %>

<h4 class='border-bottom my-3 py-3'><%= _('Help Translate') %></h4>

<p>
<%= _('We would love to add as many languages as possible but we need help from fluent speakers in creating and verifying translations.') %>
</p>

<h5 class='border-bottom my-3 py-3'><%= _('How it Works') %></h4>

<p>
<%= _('We use') %>
<%= link_to 'translation.io', 'https://translation.io', target: '_blank' %>.
<%= _('to manage our translation effort.  It has a simple to use interface.') %>
</p>

<p>
<%= _('Translations are done initially by machine using Google Translate.  It\'s the translators job to select the correct translation
and add any fixes as needed.') %>
</p>

<p>
<%= _("Translations for an entirely new language can be done in less than an hour for native speakers.") %>
</p>

<p>
<%= _('Read more: ') %>
<%= link_to(_('How to use our translation interface?'), 'https://translation.io/blog/rails-gettext-syntax-overview', target: '_blank') %>
</p>

<h5 class='border-bottom my-3 py-3'><%= _('How to Join') %></h4>

<p>
<%= _("To join the translation effort:") %>
</p>

<ol>
    <li>
        <%= _('Register for a free account on') %>
        <%= link_to 'translation.io', 'https://translation.io', target: '_blank' %>.
    </li>
    <li>
        <%= link_to _('Send me a message'), new_feedback_path %>
        <%= _('with your translation.io username and which language you would like to work on.') %>
    </li>
</ol>

<p>
    <%= _('...and I\'ll add you to our translation project.') %>
</p>

<h5 class='border-bottom my-3 py-3'><%= _('Translation Tips') %></h4>
<ol>
    <li><%= _('If the source text is capitalized, try to maintain similar capitalization in the translated text as well (assuming it\'s permitted syntactically in the target language).') %>
    <li><%= _('If you see embedded codes such as "%s", {%file} or similar, leave those fully intact in the target translation.  These are substitution codes used in the application.') %>
</ol>

<p class='lead mt-5'>
<%= _('Thanks for helping to translate Password Pusher!') %>
</p>
