<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOODP">
    <meta name="viewport" content="initial-scale=1">
    <%= tag.meta name: 'turbo-drive-enabled', content: ENV.key?('TURBO_DRIVE_ENABLED') ? ENV['TURBO_DRIVE_ENABLED'].to_s.downcase : 'true' %>
    <title>
      <% if content_for? :title %>
        <%= yield(:title) %> -
      <% end %>
      <%= _('Data Explorer - Administration - Password Pusher') %>
    </title>
    <%= csrf_meta_tags %>
    <%= render "madmin/application/javascript" %>
  </head>
  <body class="bg-light">
    <% if Rails.env.staging? %>
      <div class="alert alert-warning text-center mb-0" role="alert">
        <strong><%= _('Staging Environment') %>:</strong> <%= (_('This is a staging site for testing and data is reset frequently. Please use %{production_link} unless you are testing new features.') % { production_link: link_to('pwpush.com', 'https://pwpush.com', class: 'alert-link') }).html_safe %>
      </div>
    <% end %>

    <div class="min-vh-100 d-flex">
      <!-- Sidebar -->
      <aside class="bg-white shadow border-end" style="width: 280px; min-width: 280px;">
        <%= render "madmin/application/navigation" %>
      </aside>

      <!-- Main Content -->
      <main class="flex-grow-1 d-flex flex-column">
        <!-- Page Content -->
        <div class="flex-grow-1 p-4">
          <%= render "madmin/application/flash" %>
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
