<% title(_('Audit Log for %s') % @password.url_token) %>

<div class="d-flex flex-column justify-content-center align-items-center">
    <h4 class=''><%= _('Audit Log for') %> <code><%= @password.url_token %></code></h4>
    <p class='text-muted mb-5'>
        <%= _('Pushed on %s') % I18n.l(@password.created_at, format: :long) %>
    </p>


    <p><%= _('Secret URL for this push') %>:</p>
    <div class='input-group mb-5 w-75'>
        <input class='form-control', id='secret_url' value='<%= secret_url(@password) %>' spellcheck='false' readonly='true'>
        <% if Settings.language_codes %>
            <button type="button" class="btn btn-primary"><%= Settings.language_codes[params["push_locale"] || I18n.locale] %></button>
        <% end %>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><span class="dropdown-item-text"><%= _('Secret Link Lanugage') %></span></li>
            <li><hr class="dropdown-divider"></li>
            <% if Settings.language_codes %>
                <% I18n.available_locales.each do |lang| %>
                    <li class='dropdown-item' style='display: none;'><%= link_to Settings.language_codes[lang], url_for(locale: lang.to_s), hreflang: lang.to_s, rel: 'alternate', class: "nav-link px-2 text-muted" %></li>
                    <li class='dropdown-item'><%= link_to Settings.language_codes[lang], audit_password_path(@password, push_locale: lang), class: "nav-link px-2 text-muted" %></li>
                <% end %>
            <% end %>
        </ul>
        <button id='copy-to-clipboard-button' class='input-group-text btn-success'
                data-clipboard-target='#secret_url' alt=<%= _('Copy to Clipboard') %>>
            <em class="bi bi-clipboard-check"></em>
        </button>
    </div>

    <div class='row w-100'>
        <div class='col mb-3'>
            <p class='h4 border-bottom py-3'>
                <%= _('Reference Note') %>
            <span class='h6 text-muted float-end'><%= _('Visible Only To You') %></span>
            </p>
            <% if @password.note.blank? %>
                <span class='text-muted'><%= _('None') %></span>
            <% else %>
                <pre><code><%= @password.note.truncate(100) %></code></pre>
            <% end %>
        </div>
    </div>

    <div class='row w-100'>
        <div class='col'>
            <h4 class="border-bottom py-3"><%= _('Settings') %></h4>
            <div class="list-group mx-0 my-3">
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Expire after') %>:
                    <strong>
                        <%= sprintf("%s %s", @password.expire_after_views, n_('View', 'Views', @password.expire_after_views)) %>
                    </strong>
                    <small class="d-block text-muted"><%= _('Password expires after this number of views.') %></small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Expire after') %>:
                    <strong>
                        <%= sprintf("%s %s", @password.expire_after_days, n_('Day', 'Days', @password.expire_after_days)) %>
                    </strong>
                    <small class="d-block text-muted"><%= _('Password expires after this number of days.') %></small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Deletable by Viewers') %>:
                    <strong>
                        <% if @password.deletable_by_viewer %>
                            <%= _('True') %>
                        <% else %>
                            <%= _('False') %>
                        <% end %>
                    </strong>
                    <small class="d-block text-muted"><%= _('This allows end users to delete passwords once retrieved.') %></small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('1-click Retrieval Step') %>:
                    <strong>
                        <% if @password.retrieval_step %>
                            <%= _('True') %>
                        <% else %>
                            <%= _('False') %>
                        <% end %>
                    </strong>
                    <small class="d-block text-muted"><%= _('Helps to avoid chat systems and URL scanners from eating up views.') %></small>
                </span>
                </label>
            </div>
        </div>
        <div class='col'>
            <h4 class="border-bottom py-3"><%= _('Current Status') %></h4>
            <div class="list-group mx-0 my-3">
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('State:') %>
                    <% if @password.expired %>
                        <strong class='text-danger'><%= _('Expired') %></strong>
                        <small class="d-block text-muted"><%= _('The push content has been deleted and the secret URL expired.') %></small>
                    <% else %>
                        <strong class='text-success'><%= _('Active') %></strong>
                        <small class="d-block text-muted"><%= _('Active and still available for viewing.') %></small>
                    <% end %>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Successful Views') %>: <strong class='text-success'><%= @password.successful_views.count%></strong>
                    <small class="d-block text-muted"><%= _('The number of times this password has been viewed before expiration.') %></small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Failed View Attempts') %>: <strong class='text-warning'><%= @password.failed_views.count%></strong>
                    <small class="d-block text-muted"><%= _('The number of times this password has been viewed after expiration.') %></small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Days Remaining') %>: <strong><%= @password.days_remaining%></strong>
                    <small class="d-block text-muted"><%= _('Number of days until this push expires if the maximum view count isn\'t reached.') %></small>
                </span>
                </label>
            </div>
        </div>
    </div>

    <div class='row w-100'>
        <div class='col'>
            <% if @password.expired == false %>
                <div class='text-center'>
                <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <em class="bi bi-trash"></em> <%= _('Expire Now') %>
                </button>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><%= _('Delete This Password?') %></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p><%= _('This will expire this secret link and') %> <strong><%= _('remove all content from the database forever') %></strong>.</p>
                        <p><%= _('The audit log (including future attempted views) will still be maintained going forward.') %></p>
                        <p><%= _('Are you sure?') %></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= _('Cancel') %></button>
                        <%= link_to 'Delete', @password, method: :delete, id: @password.url_token, class: 'btn btn-danger', rel: 'nofollow', disable_with: _('Processing...') %>
                    </div>
                    </div>
                </div>
                </div>
            <% end %>
        </div>
    </div>

    <div class='row w-100 mt-3'>
        <div class='col'>
            <div class="list-group w-100">
                <div class="list-group-item list-group-item-action list-group-item-secondary"><%= _('Start of Audit Log') %></div>
                <div class="list-group-item list-group-item-action list-group-item-primary"><%= _('Push created on') %> <%= @password.created_at.strftime(I18n.t('time.formats.default')) %></div>

                <% if @password.views.empty? && !@password.expired %>
                    <div class="list-group-item list-group-item-action list-group-item text-center text-muted">
                        <%= _('As the push receives views, a log of each with identifying information will show up here.') %>
                    </div>
                <% end %>

                <% for view in @password.views.sort_by(&:created_at) %>
                    <% if view.kind == 1 %>
                        <div class="list-group-item list-group-item-action list-group-item-danger">
                            <% if view.user_id %>
                                <%= _('Password manually expired by user') %>
                                <strong><%= view.user.email %></strong>
                                <%= _('at IP address') %> <strong><%= view.ip %></strong>
                            <% end %>
                            <br/>
                            <%= _('User Agent') %>: <code><%= view.user_agent %></code>
                            <br/>
                            <%= _('Referrer') %>: <code><%= view.referrer.empty? ? "None" : view.referrer %></code>
                        </div>
                    <% elsif view.successful %>
                        <div class="list-group-item list-group-item-action list-group-item-success">
                            <%= _('Successful view from IP address') %>
                            <strong><%= view.ip %></strong>
                            <%= _('on') %>
                            <%= view.created_at.strftime(I18n.t('time.formats.default')) %>
                            <br/>
                            <%= _('User Agent') %>: <code><%= view.user_agent %></code>
                            <br/>
                            <%= _('Referrer') %>: <code><%= view.referrer.empty? ? _('None') : view.referrer %></code>
                        </div>
                    <% else %>
                        <div class="list-group-item list-group-item-action list-group-item-warning">
                            <%= _('Failed view attempt (already expired) by') %>
                            <strong><%= view.ip %></strong>
                            <%= _('on') %>
                            <%= view.created_at.strftime(I18n.t('time.formats.default')) %>
                            <br/>
                            <%= _('User Agent') %>: <code><%= view.user_agent %></code>
                            <br/>
                            <%= _('Referrer') %>: <code><%= view.referrer.empty? ? _('None') : view.referrer %></code>
                        </div>
                    <% end %>
                <% end %>
                <div class="list-group-item list-group-item-action list-group-item-secondary"><%= _('End of Audit Log') %></div>
            </div>
        </div>
    </div>
</div>