<% title("Audit Log for #{@password.url_token}") %>

<div class="d-flex flex-column justify-content-center align-items-center">
    <h4 class=''>Audit Log for <code><%= @password.url_token %></code></h4>
    <p class='text-muted mb-5'>Pushed on <%= @password.created_at.to_s(:long) %> UTC</p>


    <p>Secret URL for this push:</p>
    <div class='input-group mb-5 w-75'>
        <input class='form-control', id='secret_url' value='<%= secret_url(@password) %>' spellcheck='false' readonly='true'>
        <button id='copy-to-clipboard-button' class='input-group-text btn-secondary'
                data-clipboard-target='#secret_url' alt="Copy to Clipboard">
            <em class="bi bi-clipboard-check"></em>
        </button>
    </div>

    <div class='row w-100'>
        <div class='col mb-3'>
            <p class='h4 border-bottom py-3'>
                Reference Note
            <span class='h6 text-muted float-end'>Visible Only To You</span>
            </p>
            <% if @password.note.empty? %>
                <pre><code>None</code></pre>
            <% else %>
                <pre><code><%= @password.decrypt(@password.note) %></code></pre>
            <% end %>
        </div>
    </div>

    <div class='row w-100'>
        <div class='col'>
            <h4 class="border-bottom py-3">Settings</h4>
            <div class="list-group mx-0 my-3">
                <label class="list-group-item d-flex gap-2">
                <span>
                    Expire after <strong><%= pluralize(@password.expire_after_views, 'View') %></strong>
                    <small class="d-block text-muted">Password expires after this number of views.</small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    Expire after <strong><%= pluralize(@password.expire_after_days, 'Day') %> </strong>
                    <small class="d-block text-muted">Password expires after this number of days.</small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    Deletable by Viewers: <strong><%= @password.deletable_by_viewer.to_s.capitalize %></strong>
                    <small class="d-block text-muted">This allows end users to delete passwords once retrieved.</small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    1-click Retrieval Step: <strong><%= @password.retrieval_step.to_s.capitalize %></strong>
                    <small class="d-block text-muted">Helps to avoid chat systems and URL scanners from eating up views.</small>
                </span>
                </label>
            </div>
        </div>
        <div class='col'>
            <h4 class="border-bottom py-3">Current Status</h4>
            <div class="list-group mx-0 my-3">
                <label class="list-group-item d-flex gap-2">
                <span>
                    <% if @password.expired %>
                        State: <strong class='text-danger'>Expired</strong>
                        <small class="d-block text-muted">The push content has been deleted and the secret URL expired.</small>
                    <% else %>
                        State: <strong class='text-success'>Active</strong>
                        <small class="d-block text-muted">Active and still available for viewing.</small>
                    <% end %>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    Successful Views: <strong class='text-success'><%= @password.successful_views.count%></strong>
                    <small class="d-block text-muted">The number of times this password has been viewed before expiration.</small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    Failed View Attempts: <strong class='text-warning'><%= @password.failed_views.count%></strong>
                    <small class="d-block text-muted">The number of times this password has been viewed after expiration.</small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    Days Remaining: <strong><%= @password.days_remaining%></strong>
                    <small class="d-block text-muted">Number of days until this push expires if the maximum view count isn't reached.</small>
                </span>
                </label>
            </div>
        </div>
    </div>

    <div class='row w-100'>
        <div class='col'>
            <% if @password.expired == false %>
                <div class='text-center'>
                <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <em class="bi bi-trash"></em> Expire Now
                </button>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete This Password?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This will expire this secret link and <strong>remove the password from the database forever</strong>.</p>
                        <p>The audit log (including future attempted views) will still be maintained going forward.</p>
                        <p>Are you sure?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <%= link_to 'Delete', @password, method: :delete, id: @password.url_token, class: 'btn btn-danger', rel: 'nofollow', disable_with: 'Processing...' %>
                    </div>
                    </div>
                </div>
                </div>
            <% end %>
        </div>
    </div>

    <div class='row w-100 mt-3'>
        <div class='col'>
            <div class="list-group w-100">
                <div class="list-group-item list-group-item-action list-group-item-secondary">Start of Audit Log</div>
                <div class="list-group-item list-group-item-action list-group-item-primary">Push created on <%= @password.created_at.to_s(:long_ordinal) %> UTC</div>

                <% if @password.views.empty? && !@password.expired %>
                    <div class="list-group-item list-group-item-action list-group-item text-center text-muted">
                        As the push receives views, a log of each with identifying information will show up here.
                    </div>

                <% end %>

                <% for view in @password.views %>
                    <% if view.kind == 1 %>
                        <div class="list-group-item list-group-item-action list-group-item-danger">
                            <% if view.user_id %>
                                Password manually expired by user <strong><%= view.user.email %></strong> at IP address <strong><%= view.ip %></strong> on <%= view.created_at.to_s(:long_ordinal) %> UTC
                            <% else %>
                                Password manually expired by an anonymous user at IP address <strong><%= view.ip %></strong> on <%= view.created_at.to_s(:long_ordinal) %> UTC
                            <% end %>
                            <br/>
                            User Agent: <code><%= view.user_agent %></code>
                            <br/>
                            Referrer: <code><%= view.referrer.empty? ? "None" : view.referrer %></code>
                        </div>
                    <% elsif view.successful %>
                        <div class="list-group-item list-group-item-action list-group-item-success">
                            Successful view from IP address <strong><%= view.ip %></strong> on <%= view.created_at.to_s(:long_ordinal) %> UTC
                            <br/>
                            User Agent: <code><%= view.user_agent %></code>
                            <br/>
                            Referrer: <code><%= view.referrer.empty? ? "None" : view.referrer %></code>
                        </div>
                    <% else %>
                        <div class="list-group-item list-group-item-action list-group-item-warning">
                            Failed view attempt (already expired) by <strong><%= view.ip %></strong> on <%= view.created_at.to_s(:long_ordinal) %>
                            <br/>
                            User Agent: <code><%= view.user_agent %></code>
                            <br/>
                            Referrer: <code><%= view.referrer.empty? ? "None" : view.referrer %></code>
                        </div>
                    <% end %>
                <% end %>
                <div class="list-group-item list-group-item-action list-group-item-secondary">End of Audit Log</div>
            </div>
        </div>
    </div>
</div>