<% title(_('Expired Password Pushes')) %>

<%= render partial: 'shared/dashboard_header' %>

<main>
  <% if @pushes.length.zero? %>
    <p class='text-center mt-3'>
      <%= _('You currently have no expired password pushes.') %>
    </p>
    <p class='text-center'>
      <%= link_to _('Push Something Now'), new_password_path, class: 'btn btn-primary' %>
    </p>
  <% else %>
    <div class="text-center my-3">
      <h1 class="display-6"><%= _('Expired Password Pushes') %></h1>
    </div>
    <table class="table table-striped table-bordered table-sm table-hover caption-top align-middle" aria-label='<%= _('Active Pushes') %>'>
      <thead>
      <tr>
          <th scope="col"><%= _('ID') %></th>
          <th scope="col"><%= _('Note') %></th>
          <th scope="col"><%= _('Expired On') %></th>
          <th scope="col" class="text-center"><em class='bi-tools'></em></th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <% for push in @pushes do %>
        <tr>
          <td><%= push.url_token %></td>
          <td>
            <% if push.note.blank? %>
              <span class='text-muted'><%= _('None') %></span>
            <% else %>
              <div class="text-nowrap overflow-hidden">
                <%= push.note.truncate(30) %>
              </div>
            <% end %>
          </td>
          <td><%= I18n.l push.expired_on.in_time_zone(Settings.timezone), format: :long %></td>
          <td class="text-center">
              <%= link_to audit_password_path(push), class: 'btn btn-info btn-sm w-100', rel: 'nofollow' do %>
                <%= _('Audit Log') %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @pushes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
  <% end %>
</main>
