<% title(_('Securely Send a Password')) %>

<div class='container'>
<%= form_for @password do |f| %>

    <div class='row'>
        <div class='col'>
            <div class=''>
                <%= f.text_area(:payload, { class: "form-control",
                                            rows: 6,
                                            placeholder: _('Enter the Password (or text) to be Shared'),
                                            autocomplete: "off",
                                            spellcheck: "false",
                                            autofocus: true,
                                            required: false }) %>
                <div class='position-relative'>
                    <div id="the-count" class="position-absolute bottom-0 end-0 m-2 px-3 opacity-75">
                        <span id="current">0</span>
                        <span id="maximum">/ 1048576 <%= _('Characters') %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-12 col-sm-8 p-3 mt-4'>
            <% if user_signed_in? %>
                <% if Settings.enable_file_uploads %>
                    <div class='row mb-3'>
                        <div data-controller="multi-upload">
                            <div data-multi-upload-target="files" class="list-group"></div>
                            <div class="file my-3">
                                <%= f.file_field :files, :multiple => true, :data => {:action => "multi-upload#addFile"},  :class => "form-control", :title => "Choose"  %>
                            </div>
                        </div>
                    </div>
                <% end %>
                <div class='row mb-3'>
                    <div class='col'>
                        <%= f.text_area(:note, { class: "form-control",
                                                 rows: 2,
                                                 placeholder: _('(Optional) Reference Note. Encrypted & Visible Only to You. E.g. Employee, Record or Ticket ID etc..'),
                                                 autocomplete: "off" }) %>
                    </div>
                </div>
            <% end %>
            <div class='row'>
                <p><%= _('Expire secret link and delete after:') %></p>
                <div class='col-8'>
                    <%= range_field_tag("password_expire_after_days", Settings.expire_after_days_default,
                                        { :name => "password[expire_after_days]",
                                          :class => "form-range",
                                          :min => Settings.expire_after_days_min,
                                          :max => Settings.expire_after_days_max,
                                          :x_default => Settings.expire_after_days_default,
                                          :step => "1" })%>
                </div>
                <div class='col-4'>
                    <label for='password_expire_after_days' id='daysrange'><%=Settings.expire_after_days_default %></label>
                </div>
            </div>

            <div class='row'>
                <div class='col-8'>
                    <%=range_field_tag("password_expire_after_views", Settings.expire_after_views_default,
                                       { :name => "password[expire_after_views]",
                                         :class => "form-range",
                                         :min => Settings.expire_after_views_min,
                                         :max => Settings.expire_after_views_max,
                                         :x_default => Settings.expire_after_views_default,
                                         :step => "1" })%>
                </div>

                <div class='col-4'>
                    <label for='password_expire_after_views' id='viewsrange'><%= Settings.expire_after_views_default %> <%= _('Views') %></label>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <div class='mb3'>
                        <p class='text-center fw-lighter'><%= _('(whichever comes first)') %></p>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col'>
                    <div class="list-group mx-0">
                        <% if Settings.enable_retrieval_step %>
                            <label class="list-group-item d-flex gap-2">
                            <%=check_box_tag "password[retrieval_step]", nil, Settings.retrieval_step_default,
                                            { class: 'form-check-input flex-shrink-0',
                                            x_default: Settings.retrieval_step_default } %>
                            <span>
                                <%= _('Use a 1-click retrieval step') %>
                                <small class="d-block text-muted"><%= _('Helps to avoid chat systems and URL scanners from eating up views.') %></small>
                            </span>
                            </label>
                        <% end %>
                        <% if Settings.enable_deletable_pushes%>
                            <label class="list-group-item d-flex gap-2">
                            <%= check_box_tag "password[deletable_by_viewer]", nil, Settings.deletable_pushes_default,
                                            { class: 'form-check-input flex-shrink-0',
                                                x_default: Settings.deletable_pushes_default }  %>
                            <span>
                                <%= _('Allow immediate deletion') %>
                                <small class="d-block text-muted"><%= _('Allow users to delete passwords once retrieved.') %></small>
                            </span>
                            </label>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-12 col-sm-4 p-3 mt-4'>
            <div class="mb-3 text-end">
                <div class="btn-group w-100" role="group" aria-label="Button group with nested dropdown">
                    <button class="btn btn-secondary w-75" type="button" id='generate_password'><em class="bi bi-cpu"></em> <%= _('Generate Password') %></button>
                    <button class="btn btn-secondary" type="button" id='configure_generator' data-bs-toggle="modal" data-bs-target="#configureModal">
                        <em class="bi bi-gear"></em>
                    </button>
                </div>
            </div>
            <p class='fst-italic fw-light'><%= _('Use the button above to generate a random password.') %></p>
            <p class='fst-italic'><%= _('Tip: Only enter a password into the box.  Other identifying information can compromise security.') %></p>
            <p class='fst-italic fw-light'><%= _('All passwords are encrypted prior to storage and are available to only those with the secret link.  Once expired, encrypted passwords are unequivocally deleted from the database.') %></p>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <p class='mb-3'>
                <div id='cookie-save'>
                    <a href='#' id='save-defaults'><%= _('Save') %></a> <%= _('the above settings as the page default.') %>
                </div>
            </p>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <p class='my-3'>
                <%=f.submit(:value => "#{_('Push It!')}", :class => "form-control btn btn-primary", type: 'submit', 'data-disable-with' => _('Pushing...'))%>
            </p>
        </div>
    </div>
<% end %>

<%= render partial: 'shared/pw_generator_modal' %>

</div>