= form_for @password do |f|
  %p
    %div.title
      %span.title Password Pusher
      %br
      %span.tagline
        = t('passwords.new.email_another')
  %p.payload
    = f.text_field(:payload, { class: 'password', value: PAYLOAD_INITIAL_TEXT, onfocus: 'prepareTextField(this)', onblur: 'revertTextField(this)', autocomplete: 'off' })
  %p
    = t('passwords.new.expiries')
    %p.slider_box
      = range_field_tag('password_expire_after_days', EXPIRE_AFTER_DAYS_DEFAULT, {name: 'password[expire_after_days]', class: 'slider', min: EXPIRE_AFTER_DAYS_MIN, max: EXPIRE_AFTER_DAYS_MAX, step: '1', onchange: 'showDaysValue(this.value)'})
      %span#daysrange
        == #{EXPIRE_AFTER_DAYS_DEFAULT} #{t('passwords.new.days')}
    %p.slider_box
      = range_field_tag('password_expire_after_views', EXPIRE_AFTER_VIEWS_DEFAULT, {name: 'password[expire_after_views]', class: 'slider', min: EXPIRE_AFTER_VIEWS_MIN, max: EXPIRE_AFTER_VIEWS_MAX, step: '1', onchange: 'showViewsValue(this.value)'})
      %span#viewsrange
        == #{EXPIRE_AFTER_VIEWS_DEFAULT} #{t('passwords.new.views')}
    %br
      %span.note
        = t('passwords.new.wichever_first')
    - if DELETABLE_BY_VIEWER_PASSWORDS
      %p.notes
        = check_box_tag 'password[deletable_by_viewer]', nil, DELETABLE_BY_VIEWER_DEFAULT
        = t('passwords.new.allow_viewer_deletion')

  %p
    = f.submit(value: t('passwords.new.push_it'))


%p.notes
  %p
    %span
      #cookie-save.cookie-save
        %a{ onclick: 'saveExpirations()', href: '#' }
          = t('passwords.new.save')
        = t('passwords.new.this_settings')
        %i
          = t('passwords.new.default')
        = t('passwords.new.in_browser')
  %span.tip
    = t('passwords.new.tip')
  %p
  %span.note
    = t('passwords.new.note1')
  %br/
  %span.note
    = t('passwords.new.note2')

%p.notes
  = t('passwords.new.new_workflow', workflow_link: link_to('workflow',  'http://www.packal.org/workflow/passwordpusher'), guy: link_to('@psteinweber', 'https://github.com/pglombardo/PasswordPusher/issues/29')).html_safe


%p.notes
  = link_to t('passwords.new.faq'), page_path('faq')
  \|
  = link_to t('passwords.new.images'), 'https://github.com/pglombardo/PasswordPusher/tree/master/app/assets/images'
  \|
  = link_to t('passwords.new.about'), page_path('about')
  %br/
  = t('passwords.new.follow_me')
  = succeed ',' do
    = link_to '@Twitter', 'https://twitter.com/pglombardo'
  = link_to '@Github', 'https://github.com/pglombardo'
  &amp;
  = link_to '@Tumblr', 'http://blog.gameface.in/'
