<% title(_('Your Password has been Pushed')) %>

<div class="container h-75">
    <div class="d-flex flex-column justify-content-center align-items-center">

      <h2 class='mt-5'><%= _('Your push has been created.') %></h2>

      <p class='mt-5'><%= _('Use this secret link to share it:') %></p>
      <%= render partial: 'shared/secret_url_bar' %>

      <p class='mb-5'>
        <%= _('This newly pushed password will expire after') %>
        <strong><%=@push.expire_after_days%> <%= n_('day', 'days', @push.expire_after_days) %></strong>
        <%= _('or') %>
        <strong><%=@push.expire_after_views%> <%= n_('view', 'views', @push.expire_after_views) %></strong>
        <%= _('(whichever comes first)') %>

        <% if @push.deletable_by_viewer %>
          <%= _('and') %> <strong><%= _('can be') %></strong> <%= _('deleted by viewers.') %>
        <% else %>
          <%= _('and') %> <strong><%= _('can NOT be') %></strong> <%= _('deleted by viewers.') %>
        <% end %>
      </p>

      <% if @push.retrieval_step == true %>
        <p class='mb-5'><%= _('It also includes a') %> <strong><%= _('1-click preliminary retrieval step') %></strong>.  </p>
      <% end %>

      <p class='mb-5'>
        <%=link_to _('View This Password Now'), @secret_url %> <%= _('(will burn a view) or') %>
        <%=link_to _('Push Another Password'), new_password_path %>
      </p>

      <% if user_signed_in? %>
        <%= link_to audit_password_path(@push), class: 'btn btn-secondary btn-sm', rel: 'nofollow' do %>
          <em class='bi-card-list'></em> <%= _('View Audit Log') %>
        <% end %>
      <% end %>

      <p class='mt-5 small'>
        <%= _('Tip: Pushing to an international user?  Change the secret link language using the dropdown menu to the right of the URL.') %>
      </p>
  </div>
</div>