<p class='normal-yellow-font'>Your password is...</p>

<div class='payload spoiler notranslate' id='pass' translate='no'>
<%=@payload%>
</div>

<button class='copy-to-clipboard' data-clipboard-target='#pass' id='clipboard-button'>
Copy to Clipboard
</button>

<p class='pwinstructions'>
Please obtain and securely store this password elsewhere, ideally in a password manager.
</p>

<p>
<% if @password.views_remaining == 0 %>
    This secret link will be deleted in <%=pluralize(@password.days_remaining, 'day')%>
     or 0 more views (this is the last view).
<% else %>
    This secret link will be deleted in <%=pluralize(@password.days_remaining, 'day')%>
     or <%=pluralize(@password.views_remaining, 'more view')%> (whichever occurs first).
<% end %>
</p>

<% if @password.deletable_by_viewer %>
    <p style='font-size: .85em;'>
    <a id="<%=@password.url_token%>"
    data-confirm="This will expire this secret link and remove the password from the database forever.  Are you sure?"
    rel="nofollow" data-method="delete"
    href="<%=password_path%>">Nah. I've got it. Delete this secret link now.</a>
    </p>
<% end %>