%div.content
  - if @password.expired
    %p
      = t('passwords.show.sorry')
    %div.payload
      = t('passwords.show.expired')
    %p
      - if @password.deleted
        = t('passwords.show.deleted_by_viewer')
      - elsif @password.views_remaining == 0
        = t('passwords.show.max_view', count: @password.expire_after_views)
      - elsif @password.days_remaining == 0
        = t('passwords.show.max_age', days: @password.expire_after_days)

  - else
    - if @first_view
      .share_note
        = t('passwords.show.your_pwd')
        %p.url
          %div.input_group
            %input#url{ value: "#{request.url}", spellcheck: 'false', onfocus: '$(this).focus(); $(this).select();', onclick: '$(this).select();', readonly: true }
            %button.btn.btn-link{ 'data-clipboard-target' => '#url' }
              = image_tag('button_up.png')
        %span.note
          = t('passwords.show.wont_show_again1')
          %br/
          = t('passwords.show.wont_show_again2')
    %p
      = t('passwords.show.your_pwd_is')

    %div.payload.spoiler#pass<
      = @payload

    %button.btn.btn-copy{ 'data-clipboard-target' => '#pass' }
      %p
        = t('passwords.show.copy_to_clipboard')

    %p.pwinstructions
      = t('passwords.show.instruction')

    %p
      - if @password.views_remaining == 0
        = t('passwords.show.deletion_in', days_remaining: @password.days_remaining, views: @password.views_remaining) + t('passwords.show.this_is_last')
      - else
        = t('passwords.show.deletion_in', days_remaining: @password.days_remaining, views: @password.views_remaining) + t('passwords.show.whichever_first')
    - if @password.deletable_by_viewer
      %p{ style: 'font-size: .85em;' }
        = link_to t('passwords.show.delete_now'), password_path, id: @password.url_token, method: :delete, data: { confirm: t('passwords.show.confirm') }
%div.footer_note
  - if @password.expired
    = t('passwords.show.provided_by', option: '(unfortunately expired) ', link: link_to('Password Pusher', '/')).html_safe
  - else
    = t('passwords.show.provided_by', option: '', link: link_to('Password Pusher', '/')).html_safe
