<div class="center-content">
<p>Your password is...</p>

<div class='payload spoiler notranslate' id='pass' translate='no'><%=@payload%></div>

<button class='copy-to-clipboard' data-clipboard-target='#pass' id='clipboard-button'>
Copy to Clipboard
</button>

<p class='pwinstructions'>
Please obtain and securely store this password elsewhere, ideally in a password manager.
</p>

<p>
<% if @password.views_remaining == 0 %>
    This secret link will be deleted in <strong><%=pluralize(@password.days_remaining, 'day')%></strong>
     or <strong>0 more views</strong> (this is the last view).
<% else %>
    This secret link will be deleted in <strong><%=pluralize(@password.days_remaining, 'day')%></strong>
     or <strong><%=pluralize(@password.views_remaining, 'more view')%></strong> (whichever occurs first).
<% end %>
</p>

<% if @password.deletable_by_viewer %>
    <a id="<%=@password.url_token%>"
    data-confirm="This will expire this secret link and remove the password from the database forever.  Are you sure?"
    rel="nofollow" data-method="delete"
    href="<%=password_path%>">
    <button class="red-button">Delete This Secret Link Now</button>
    </a>
<% end %>
</div>