
<div class="container-fluid h-100 mx-0 py-5 px-0 bg-light">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center bg-light">
        <p class="text-center"><strong>Please obtain and securely store this password elsewhere, ideally in a password manager.</strong></p>
        <p class="text-center text-muted">Your password is blurred out.  Click below to reveal it.</p>
        <pre class='w-100 p-0 m-0'>
        <% if /\n/.match(@payload) == true %>
            <%= render partial: 'shared/show-text' %>
        <% else %>
            <%= render partial: 'shared/show-password' %>
        <% end %>
        </pre>
        <p class="lead">
            <% if @password.views_remaining == 0 %>
                This secret link will be deleted in <strong><%=pluralize(@password.days_remaining, 'day')%></strong>
                or <strong>0 more views</strong> (this is the last view).
            <% else %>
                This secret link will be deleted in <strong><%=pluralize(@password.days_remaining, 'day')%></strong>
                or <strong><%=pluralize(@password.views_remaining, 'more view')%></strong> (whichever occurs first).
            <% end %>
        </p>
        <% if @password.deletable_by_viewer %>
            <p>
                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete This Secret Link Now
                </button>
            </p>
        <% end %>

        <div class="fixed-bottom w-100 d-grid gap-2">
            <button class='btn btn-primary' data-clipboard-target='#password_payload' id='copy-to-clipboard-button'>
            <em class="bi bi-clipboard-check"></em> Copy to Clipboard
            </button>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete This Password?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This will expire this secret link and <strong>remove the password from the database forever</strong>.  Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= link_to 'Delete', @password, method: :delete, id: @password.url_token, class: 'btn btn-danger', rel: 'nofollow', disable_with: 'Processing...' %>
      </div>
    </div>
  </div>
</div>