%p.normal-yellow-font
  Your password is...

%div.payload.spoiler.notranslate#pass{ "translate" => "no" }<
  = @payload

%button#clipboard-button.copy-to-clipboard{ "data-clipboard-target" => "#pass" }
  Copy to Clipboard

%p.pwinstructions
  Please obtain and securely store this password elsewhere, ideally in a password manager.

%p
  - if @password.views_remaining == 0
    == This secret link will be deleted in #{pluralize(@password.days_remaining, 'day')} or #{@password.views_remaining} more views (this is the last view).
  - else
    == This secret link will be deleted in #{pluralize(@password.days_remaining, 'day')}
    == or #{pluralize(@password.views_remaining, 'more view')} (whichever occurs first).
- if @password.deletable_by_viewer
  %p{ :style => 'font-size: .85em;' }
    = link_to "Nah. I've got it. Delete this secret link now.", password_path, :id => @password.url_token, :method => :delete, :data => { :confirm => 'This will expire this secret link and remove the password from the database forever.  Are you sure?' }
