.spacer{ style: 'height: 100px;' }

%h1 #500

%p
  = t('errors.internal.something_wrong')
  
%p
  = t('errors.internal.try_again')
  
%p


.spacer{ style: 'height: 100px;' }

- if Rails.env == 'production' or Rails.env == 'development'
  %p.notes
    %p= link_to t('errors.back_to_front_page'), '/'
    %p
      = t('errors.internal.or_log')
      = link_to t('errors.on_github'), 'https://github.com/pglombardo/PasswordPusher/issues?state=open', target: '_blank'
