%p
  .spacer{ style: 'height: 100px;' }

  %h1 #404

  %p
    = t('errors.not_found.message')
  
  %p
    = t('errors.not_found.instruction')

  .spacer{ style: 'height: 100px;' }

  - if Rails.env == 'production' or Rails.env == 'development'
    %p.notes
      %p= link_to t('errors.back_to_front_page'), '/'
      %p
        = t('errors.not_found.make_an_issue')
        = link_to t('errors.on_github'), 'https://github.com/pglombardo/PasswordPusher/issues?state=open', target: '_blank'
