<%= form_for @view do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :password_id %><br />
    <%= f.number_field :password_id %>
  </p>
  <p>
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </p>
  <p>
    <%= f.label :user_agent %><br />
    <%= f.text_field :user_agent %>
  </p>
  <p><%= f.submit %></p>
<% end %>
