<% title "Views" %>

<table>
  <tr>
    <th>Password</th>
    <th>Ip</th>
    <th>User Agent</th>
  </tr>
  <% for view in @views %>
    <tr>
      <td><%= view.password_id %></td>
      <td><%= view.ip %></td>
      <td><%= view.user_agent %></td>
      <td><%= link_to "Show", view %></td>
      <td><%= link_to "Edit", edit_view_path(view) %></td>
      <td><%= link_to "Destroy", view, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New View", new_view_path %></p>
