<% title "View" %>

<p>
  <strong>Password:</strong>
  <%= @view.password_id %>
</p>
<p>
  <strong>Ip:</strong>
  <%= @view.ip %>
</p>
<p>
  <strong>User Agent:</strong>
  <%= @view.user_agent %>
</p>

<p>
  <%= link_to "Edit", edit_view_path(@view) %> |
  <%= link_to "Destroy", @view, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", views_path %>
</p>
