<div id="<%= dom_id file_push %>">
  <p>
    <strong>Expire after days:</strong>
    <%= file_push.expire_after_days %>
  </p>

  <p>
    <strong>Expire after views:</strong>
    <%= file_push.expire_after_views %>
  </p>

  <p>
    <strong>Expired:</strong>
    <%= file_push.expired %>
  </p>

  <p>
    <strong>Url token:</strong>
    <%= file_push.url_token %>
  </p>

  <p>
    <strong>User:</strong>
    <%= file_push.user_id %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= file_push.deleted %>
  </p>

  <p>
    <strong>Deletable by viewer:</strong>
    <%= file_push.deletable_by_viewer %>
  </p>

  <p>
    <strong>Retrieval step:</strong>
    <%= file_push.retrieval_step %>
  </p>

  <p>
    <strong>Expired on:</strong>
    <%= file_push.expired_on %>
  </p>

  <p>
    <strong>Payload:</strong>
    <%= file_push.payload %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= file_push.note %>
  </p>

</div>
