<% title(_('Audit Log for %s') % @push.url_token) %>

<div class="d-flex flex-column justify-content-center align-items-center">
    <h4 class=''><%= _('Audit Log for File Push') %> <code><%= @push.url_token %></code></h4>
    <p class='text-muted mb-5'>
        <%= _('Pushed on %s') % I18n.l(@push.created_at.in_time_zone(Settings.timezone), format: :long) %>
    </p>

    <p><%= _('Secret URL for this push') %>:</p>
    <%= render partial: 'shared/secret_url_bar' %>

    <div class='row w-100'>
        <div class='col mb-3'>
            <p class='h4 border-bottom py-3'>
                <%= _('Reference Note') %>
            <span class='h6 text-muted float-end'><%= _('Visible Only To You') %></span>
            </p>
            <% if @push.note.blank? %>
                <span class='text-muted'><%= _('None') %></span>
            <% else %>
                <pre><code><%= @push.note %></code></pre>
            <% end %>
        </div>
    </div>

    <div class='row w-100'>
        <div class='col'>
            <h4 class="border-bottom py-3"><%= _('Settings') %></h4>
            <div class="list-group mx-0 my-3">
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Expire after') %>:
                    <strong>
                        <%= sprintf("%s %s", @push.expire_after_views, n_('View', 'Views', @push.expire_after_views)) %>
                    </strong>
                    <small class="d-block text-muted"><%= _('The push expires after this number of views.') %></small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Expire after') %>:
                    <strong>
                        <%= sprintf("%s %s", @push.expire_after_days, n_('Day', 'Days', @push.expire_after_days)) %>
                    </strong>
                    <small class="d-block text-muted"><%= _('The push expires after this number of days.') %></small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Deletable by Viewers') %>:
                    <strong>
                        <% if @push.deletable_by_viewer %>
                            <%= _('True') %>
                        <% else %>
                            <%= _('False') %>
                        <% end %>
                    </strong>
                    <small class="d-block text-muted"><%= _('This allows end users to delete content once retrieved.') %></small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('1-click Retrieval Step') %>:
                    <strong>
                        <% if @push.retrieval_step %>
                            <%= _('True') %>
                        <% else %>
                            <%= _('False') %>
                        <% end %>
                    </strong>
                    <small class="d-block text-muted"><%= _('Helps to avoid chat systems and URL scanners from eating up views.') %></small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Passphrase Lockdown') %>:
                    <strong>
                        <% if @push.passphrase.blank? %>
                            <%= _('No') %>
                        <% else %>
                            <%= _('Yes') %>
                        <% end %>
                    </strong>
                    <small class="d-block text-muted"><%= _('Require recipients to enter a passphrase to view this push.') %></small>
                </span>
                </label>
            </div>
        </div>
        <div class='col'>
            <h4 class="border-bottom py-3"><%= _('Current Status') %></h4>
            <div class="list-group mx-0 my-3">
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('State:') %>
                    <% if @push.expired %>
                        <strong class='text-danger'><%= _('Expired') %></strong>
                        <small class="d-block text-muted"><%= _('The push content has been deleted and the secret URL expired.') %></small>
                    <% else %>
                        <strong class='text-success'><%= _('Active') %></strong>
                        <small class="d-block text-muted"><%= _('Active and still available for viewing.') %></small>
                    <% end %>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Successful Views') %>: <strong class='text-success'><%= @push.successful_views.count %></strong>
                    <small class="d-block text-muted"><%= _('The number of times this push has been viewed before expiration.') %></small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Failed View Attempts') %>: <strong class='text-warning'><%= @push.failed_views.count %></strong>
                    <small class="d-block text-muted"><%= _('The number of times this push has been viewed after expiration.') %></small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Days Remaining') %>: <strong><%= @push.days_remaining %></strong>
                    <small class="d-block text-muted"><%= _('Number of days until this push expires if the maximum view count isn\'t reached.') %></small>
                </span>
                </label>
            </div>
        </div>
    </div>

    <div class='row w-100'>
        <div class='col'>
            <h4 class="border-bottom py-3"><%= _('Payload') %></h4>
            <div class="list-group mx-0 my-3">
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Contains Message for Receiver') %>:
                    <strong>
                        <% if @push.expired %>
                            <strong class=''><%= _('Deleted') %></strong>
                        <% elsif @push.payload.nil? or @push.payload.empty? %>
                            <strong class=''><%= _('No') %></strong>
                        <% else %>
                            <strong class='text-success'><%= _('Yes') %></strong>
                        <% end %>
                    </strong>
                    <small class="d-block text-muted"><%= _('Has a text payload been added to this push?') %></small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Message Length') %>:
                    <strong>
                        <% if @push.expired %>
                            <strong class=''><%= _('Deleted') %></strong>
                        <% elsif @push.payload.nil? or @push.payload.empty? %>
                            <%= _('Not Applicable') %>
                        <% else %>
                            <%= @push.payload.length %>
                        <% end %>
                    </strong>
                    <small class="d-block text-muted"><%= _('The length of the attached text payload.') %></small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <span>
                    <%= _('Number of Files Attached') %>:
                    <strong>
                        <% if @push.files.count.positive? %>
                            <strong class='text-success'><%= @push.files.count %></strong>
                        <% else %>
                            <strong class=''><%= @push.files.count %></strong>
                        <% end %>
                    </strong>
                    <small class="d-block text-muted"><%= _('The number of files attached to this push. This value will be 0 when expired.') %></small>
                </span>
                </label>
            </div>
        </div>
        <div class='col'>
            <h4 class="border-bottom py-3"><%= _('Attached Files') %></h4>
            <div class="list-group mx-0 my-3">
                <% if @push.files.count.positive? %>
                    <% @push.files.each do |file| %>
                        <label class="list-group-item d-flex gap-2">
                        <span>
                            <%= _('Filename:') %>
                            <strong class=''><%= file.filename %></strong>
                            <small class="d-block text-muted"><%= _('Size: ') + filesize(file.blob.byte_size) %></small>
                        </span>
                        </label>
                    <% end %>
                <% else %>
                    <small class="d-block text-muted"><%= _('All attached files have been deleted.') %></small>
                <% end %>
            </div>
        </div>
    </div>

    <div class='row w-100'>
        <div class='col'>
            <% if @push.expired == false %>
                <div class='text-center'>
                    <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#expireModal">
                        <em class="bi bi-trash"></em> <%= _('Expire Now') %>
                    </button>
                </div>

                <div class="modal fade" id="expireModal" tabindex="-1" aria-labelledby="expireModalLabel" aria-hidden="true" data-controller="form">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="expireModalLabel"><%= _('Delete This Password?') %></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p><%= _('This will expire this secret link and') %> <strong><%= _('remove all content from the database forever') %></strong>.</p>
                            <p><%= _('The audit log (including future attempted views) will still be maintained going forward.') %></p>
                            <p><%= _('Are you sure?') %></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= _('Cancel') %></button>
                            <%= link_to _('Delete'), @push, data: { turbo_method: :delete, action: 'form#disableWith', 'disable-with': _('Processing...') }, id: @push.url_token, class: 'btn btn-danger', rel: 'nofollow' %>
                        </div>
                    </div>
                </div>
                </div>
            <% end %>
        </div>
    </div>

    <div class='row w-100 mt-3'>
        <div class='col'>
            <div class="list-group w-100">
                <div class="list-group-item list-group-item-action list-group-item-secondary"><%= _('Start of Audit Log') %></div>
                <div class="list-group-item list-group-item-action list-group-item-primary">
                    <em class="bi bi-stars"></em>
                    <%= _('Push created on') %> <%= I18n.l @push.created_at.in_time_zone(Settings.timezone) %> by <%= @push.user.email %>
                </div>

                <% if @push.views.empty? && !@push.expired %>
                    <div class="list-group-item list-group-item-action list-group-item text-center text-muted">
                        <%= _('As the push receives activity, a log of each with identifying information will show up here.') %>
                    </div>
                <% end %>

                <% for view in @push.views.sort_by(&:created_at) %>
                    <% if view.kind == 1 %>
                        <div class="list-group-item list-group-item-action list-group-item-danger">
                            <em class="bi bi-trash"></em>
                            <% if view.user_id %>
                                <%= _('Password manually expired by user') %>
                                <strong><%= view.user.email %></strong>
                                <%= _('at IP address') %> <strong><%= view.ip %></strong>
                                <%= _('on') %>
                                <%= I18n.l view.created_at.in_time_zone(Settings.timezone) %>
                            <% end %>
                            <br>
                            <%= _('The push content has been deleted and the secret URL expired.') %>
                            <br>
                            <%= _('User Agent') %>: <code><%= view.user_agent %></code>
                            <br>
                            <%= _('Referrer') %>: <code><%= view.referrer.empty? ? "None" : view.referrer %></code>
                        </div>
                    <% elsif view.successful %>
                        <div class="list-group-item list-group-item-action list-group-item-success">
                            <em class="bi bi-check2-square"></em>
                            <%= _('Successful view from IP address') %>
                            <strong><%= view.ip %></strong>
                            <%= _('on') %>
                            <%= I18n.l view.created_at.in_time_zone(Settings.timezone) %>
                            <br>
                            <%= _('User Agent') %>: <code><%= view.user_agent %></code>
                            <br>
                            <%= _('Referrer') %>: <code><%= view.referrer.empty? ? _('None') : view.referrer %></code>
                        </div>
                    <% else %>
                        <div class="list-group-item list-group-item-action list-group-item-warning">
                            <em class="bi bi-x-octagon"></em>
                            <%= _('Failed view attempt (already expired) by') %>
                            <strong><%= view.ip %></strong>
                            <%= _('on') %>
                            <%= I18n.l view.created_at.in_time_zone(Settings.timezone) %>
                            <br>
                            <%= _('User Agent') %>: <code><%= view.user_agent %></code>
                            <br>
                            <%= _('Referrer') %>: <code><%= view.referrer.empty? ? _('None') : view.referrer %></code>
                        </div>
                    <% end %>
                <% end %>
                <div class="list-group-item list-group-item-action list-group-item-secondary"><%= _('End of Audit Log') %></div>
            </div>
        </div>
    </div>
</div>
