<% title(_('Securely Send Files')) %>

<div class='container'>
    <%= render partial: "shared/topnav" %>
    <div class="card text-center w-50 my-5 mx-auto">
        <div class="card-header">
            <em class="bi bi-send-check"></em>
            &nbsp;
            <%= _('Securely Send Files That Delete Automatically') %>
        </div>
        <div class="card-body">
            <% if Settings.disable_signups %>
                <h5 class="card-title"><%= _('Please login to use this feature.') %></h5>
                <p class="card-text"></p>
                <a href="<%= new_user_session_path %>" class="btn btn-primary">Log In</a>
            <% else %>
                <h5 class="card-title"><%= _('Please login or sign up to use this feature.') %></h5>
                <p class="card-text"></p>
                <a href="<%= new_user_session_path %>" class="btn btn-primary">Log In</a>
                <a href="<%= new_user_registration_path %>" class="btn btn-success">Sign Up</a>
            <% end %>
        </div>
    </div>
</div>