<% plain_title(_('Your Secret Link')) %>

<div class="container-fluid h-100 mx-0 py-0 px-0 bg-light">
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center bg-light" data-controller="copy passwords" data-copy-lang-copied-value="<%= _('Copied!')%>">
    <% if @push.payload.empty? %>
        <div class='text-center m-3'>
          <p class="display-5"><%= _('The following files have been sent to you.') %></p>
          <p class="text-muted"><%= _('Please download and store in a secure area.') %></p>
          <hr>
        </div>
    <% else %>
        <div class='text-center m-3'>
          <p class=""><strong><%= _('The following message has been sent to you along with the files below.') %></strong></p>
          <% if Settings.files.enable_blur %>
            <p class="text-muted"><%= _('The message is blurred out.  Click below to reveal it.') %></p>
          <% end %>
        </div>

        <% if @payload.chomp.match?(/\n/) || @payload.length > 100 %>
          <div class='payload <%= @blur_css_class %> notranslate px-5 border-top border-bottom border-5 w-100 bg-white d-flex justify-content-center mb-3' id='push_payload' translate='no' data-copy-target="payloadDiv"><pre class='text-break my-5'><%=@payload%></pre></div>
        <% else %>
          <div class='payload <%= @blur_css_class %> notranslate px-5 border-top border-bottom border-5 w-100 bg-white fs-2 mb-3' id='push_payload' translate='no' data-copy-target="payloadDiv"><pre class='w-100 text-break text-wrap my-5 text-center'><%=@payload%></pre></div>
        <% end%>
        <%= render partial: 'shared/copy_button' %>
    <% end %>
    <div class='text-center m-3'>
      <% if @push.files.attached? %>
        <p><strong>Attached Files</strong></p>
          <% @push.files.each do |file| %>
            <div class="list-group">
                <%= link_to rails_blob_url(file), target: '_blank', class: 'list-group-item list-group-item-action' do %>
                  <%= file.filename %>
                  (<%= filesize(file.blob.byte_size) %>)
                  &nbsp;
                  <em class="bi bi-box-arrow-up-right"></em>
                <% end %>
            </div>
          <% end %>
      <% end %>
      <p class="text-muted mt-5">
        <%= _("This secret link and all content will be deleted in") %>
        <strong>
          <%= @push.days_remaining.to_s + ' ' + n_('day', 'days', @push.days_remaining) %>
        </strong>
        <% if @push.views_remaining == 0 %>
            <%= _('or') %> <strong><%= _('0 more views') %></strong>
            <%= _('(this is the last view).') %>
        <% else %>
            <%= _('or') %>
            <strong><%= @push.views_remaining.to_s + ' ' + n_('more view', 'more views', @push.views_remaining) %></strong>
            <%= _('(whichever occurs first).') %>
        <% end %>
      </p>
      <% if @push.deletable_by_viewer %>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
          <em class="bi bi-trash"></em> <%= _('Delete This Secret Link Now') %>
        </button>
      <% end %>
    </div>
  </div>
</div>

<% if @push.deletable_by_viewer %>
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" data-controller="form">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel"><%= _('Delete?') %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= _('This will expire this secret link and ') %>
          <strong><%= _('delete all related content from the database forever') %></strong>.
          <%= _('Are you sure?') %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= _('Cancel') %></button>
          <%= link_to _('Delete'), @push, data: { turbo_method: :delete, action: 'form#disableWith', 'disable-with': _('Processing...') }, id: @push.url_token, class: 'btn btn-danger', rel: 'nofollow' %>
        </div>
      </div>
    </div>
  </div>
<% end %>