<p><%= _('Welcome!') %></p>

</p><%= _('Here is your password: ') %><code> password123</code> </p>
<p>&nbsp;</p>

<p><strong><%= _('Just kidding!') %></strong>  <%= _('Never have to do anything like that ever again with Password Pusher.') %></p>

<p><%= _('You can confirm your account email through the link below') %>:</p>

<p><%= link_to _('Confirm my account'), confirmation_url(@resource, confirmation_token: @token) %></p>

<p>&nbsp;</p>
<p><%= _('Thanks for signing up!') %></p>

<%= render 'shared/email_footer' %>
