<!DOCTYPE html>
<html lang="<%=I18n.locale%>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title><%= content_for?(:html_title) ? yield(:html_title) : Settings.brand.title %></title>

  <meta content="<%= _('Password Pusher is an application to securely send passwords over the web. Links to passwords expire after a certain number of views and/or time has passed.') %>" name='description'>
  <meta content='width=device-width, initial-scale=1' name='viewport'>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"/>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="d-flex flex-column min-vh-100">

<div class="container">




<h1>Your email is being changed</h1>
<p>
  <%= _('We\'re contacting you to notify you that your email at') %>
  <%= link_to Settings.brand.title, root_url %>

  <% if @resource.try(:unconfirmed_email?) %>
    <%= sprintf(_('is being changed to %s'), @resource.unconfirmed_email) %>.
  <% else %>
    <%= sprintf(_('has been changed to %s'), @resource.email) %>.
  <% end %>
</p>
<%= render 'shared/email_footer' %>







</div>

</body>
</html>
