<p><%= _('Hello') %>,</p>

<p>
  <%= _('We\'re contacting you to notify you that your email at') %>
  <% if Settings.brand.title %>
    <%= link_to Settings.brand.title, root_url %>
  <% else %>
    <%= link_to _('Password Pusher'), root_url %>
  <% end %>

  <% if @resource.try(:unconfirmed_email?) %>
    <%= sprintf(_('is being changed to %s', @resource.unconfirmed_email) %>.
  <% else %>
    <%= sprintf(_('has been changed to %s', @resource.email) %>.
  <% end %>
</p>

<%= render 'shared/email_footer' %>