<h1><%= _('Password Change') %></h1>
<p>
  <%= _('We\'re contacting you to notify you that your password has been changed on') %>
  <%= link_to Settings.brand.title, root_url %>.
</p>
<p><%= _("If you didn't initiate this and it wasn't your intention, please contact us as soon as possible.") %></p>
<%= render 'shared/email_footer' %>
