<p><%= _('Hello') %>,</p>

<p><%= _('Someone has requested a link to change your password. You can do this through the link below.') %></p>

<p><%= link_to _('Change my password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= _('If you didn\'t request this, please ignore this email.') %></p>
<p><%= _('Your password won\'t change until you access the link above and create a new one.') %></p>

<%= render 'shared/email_footer' %>
