<h1><%= _('Password Change Request') %></h1>
<p>
<%= _('Someone has requested a link to change your password. You can proceed with this action') %>
<%= link_to _('by clicking this link'), edit_password_url(@resource, reset_password_token: @token) %>
<%= _('or by copying and pasting the following URL into your browser:') %>
</p>

<pre class="chroma">
<%= edit_password_url(@resource, reset_password_token: @token) %>
</pre>

<p>
<%= _("If you didn't request this change, you can safely delete this email.") %>
<%= _("Your password won't change until you access the link above and create a new one.") %>
</p>
<%= render 'shared/email_footer' %>
