<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title><%= content_for?(:html_title) ? yield(:html_title) : Settings.brand.title %></title>

  <meta content="<%= _('Password Pusher is an application to securely send passwords over the web. Links to passwords expire after a certain number of views and/or time has passed.') %>" name='description'>
  <meta content='width=device-width, initial-scale=1' name='viewport'>

  <%= render partial: "shared/layout_icons", cached: true %>

  <%= render partial: "layouts/ga" if Rails.env == "production" %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="d-flex flex-column min-vh-100">

<%= render partial: 'shared/header' %>

<div class="container">
  <%= render partial: 'shared/alerts' %>
  <%= yield %>
</div>

<%= render partial: 'shared/footer', cached: true %>
<%= render partial: 'shared/cookie_consent', cached: true %>

</body>
</html>
