<!DOCTYPE html>
<html lang="<%=I18n.locale%>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title><%= content_for?(:html_title) ? yield(:html_title) : Settings.brand.title %></title>

  <meta content="<%= _('Password Pusher is an application to securely send passwords over the web. Links to passwords expire after a certain number of views and/or time has passed.') %>" name='description'>
  <meta content='width=device-width, initial-scale=1' name='viewport'>

  <%= render partial: "shared/layout_icons" %>

  <%= render partial: "layouts/ga" if Rails.env == "production" %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"/>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="d-flex flex-column min-vh-100">
  <div class="container-fluid d-flex flex-column min-vh-100 justify-content-center align-items-center bg-light">
    <%= render partial: 'shared/alerts' %>
    <main class="col-sm-4 text-center">
      <%= link_to root_path(locale: locale.to_s), hreflang: locale.to_s do %>
        <picture>
        <% if Settings.brand.nil? || Settings.brand.light_logo.nil? %>
            <source srcset="<%= asset_path('logo-transparent-sm-bare.png') %>" media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)">
            <source srcset="<%= asset_path('logo-transparent-sm-dark-bare.png') %>" media="(prefers-color-scheme: dark)">
            <img src="<%= asset_path('logo-transparent-sm-bare.png') %>", alt="Password Pusher Logo", style='height: 120px;' />
          <% else %>
            <source srcset="<%= Settings.brand.light_logo %>" media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)">
            <source srcset="<%= Settings.brand.dark_logo %>" media="(prefers-color-scheme: dark)">
            <img src="<%= Settings.brand.light_logo %>" alt="<%= _('Password Pusher Logo') %>" style='height: 120px;' />
          <% end %>
        </picture>
      <% end %>
  
      <%= yield %> 

      <hr class="mt-5"/>
      <div class='my-3'>
        <%= render "devise/shared/links" %>
      </div>
      <hr class="mt-5"/>
      <% if ENV.key?('PWPUSH_COM') %>
        <div class='my-3'>
          <em>
            <%= _("Some domains may inadvertently block emails.  If you are having trouble receiving emails, ") %>
            <%= link_to _("send a message"), new_feedback_path %>
            <%= _('and we can help out.') %>
          </em>
        </div>
      <% end %>
    </main>
  </div>
</body>
</html>
